/* // font-variables
$quicksand: 'Quicksand',
sans-serif;
$opensans: 'Open Sans',
sans-serif;
$roboto: 'Roboto',
sans-serif;
table {
    width: 100%;
}

tr {
    &:nth-child(even) {
        background-color: var(--ion-background-color-step-100);
    }
    font-size: medium;
    font-family: $roboto;
    font-weight: 300;
}

th[scope=row] {
    text-align: left;
    min-width: 30vw;
    font-family: $quicksand;
    font-weight: 400;
    font-size: small;
}

th,
td {
    padding-left: .5rem;
}

ol.name-value {
    list-style: none;
    display: table;
    font-size: 0.8em;
}

ol.name-value li {
    display: table-row;
    border-bottom: 1px solid #E8E8E8;
}

ol.name-value li label {
    display: table-cell;
    width: 50%;
    margin-left: 5px;
}

ol.name-value li span {
    display: table-cell;
    width: 50%;
} */