<div class="card">
	<div class="card-header" (click)="isCollapsed = !isCollapsed">
		<div class="row justify-content-between">
			<div class="col">
				{{headerText}}
			</div>
			<div class="col" style="text-align: right;">
				<i *ngIf="!isCollapsed" class="fa fa-lg fa-minus"></i>
				<i *ngIf="isCollapsed" class="fa fa-lg fa-plus"></i>
			</div>
		</div>
	</div>
	<div class="card-body" [collapse]="isCollapsed" style="padding: 0px;">
		<table class="table table-striped table-sm" style="margin: 0px;">
			<tr *ngFor="let field of formattedData">
				<td style="padding-left: 15px;">{{field.key}}</td>
				<td style="padding-right: 15px;">{{field.value}}</td>
			</tr>
		</table>
	</div>
</div>