.registration-card {
    box-sizing: border-box;
    margin: 0.75rem 0;
    background: transparent;
}

.panel-heading {
    cursor: pointer;
}

.registration-card .panel-body:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.fa {
    margin-left: 9px;
}