<div [id]="id" class="card registration-card bg-light">
	<div class="card-header" style="display: flex; align-items: center;" (click)="toggledOpen = !shouldBeOpen(startOpen, toggledOpen)">
		<div style="flex-grow: 1; padding-right: 20px; /*white-space: nowrap;*/">
			{{ title }}
		</div>
		<div *ngIf="isPanelStatusIconRequired">
			<div *ngIf="overallValid !== null">
				<validate-checkmark [hideMessage]="true" [model]="overallValid"></validate-checkmark>
			</div>
			<div *ngIf="overallValid ===null && model !== null">
				<validate-checkmark [hideMessage]="true" [model]="model"></validate-checkmark>
			</div>
		</div>
		<div class="toggle-button">
			<i class="fa" [ngClass]="{ 'fa-minus': shouldBeOpen(startOpen, toggledOpen), 'fa-chevron-down': !shouldBeOpen(startOpen, toggledOpen) }"></i>
		</div>
	</div>
	<ng-content *ngIf="shouldBeOpen(startOpen, toggledOpen)"></ng-content>
</div>