<div class="container-fluid" style="padding: 0;" #wrapper>
	<div class="card-columns">
		<detail-card *ngFor="let detail of details" [headerText]="detail.detailCategory" [data]="detail.detailFields"></detail-card>
	</div>	
</div>