<div id="miniSearch" [hidden]="!isMini" style="padding-top: 25px">
	<form (submit)="search()" novalidate>
		<button type="button" class="btn btn-xs btn-primary search-builder-mini" (click)="searchBuilderModal.show()">
			Open Search Builder
		</button>
	</form>
</div>

<div class="home-search-container" *ngIf="!isMini" style="padding-top: 100px">
	<div class="row">
		<div class="col-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
			<span *ngIf="!isMini; then searchBuilder"></span>
		</div>
	</div>
</div>

<div class="modal fade" bsModal #searchBuilderModal="bs-modal" [config]="{backdrop: 'static'}" aria-labelledby="Search Builder" aria-hidden="true" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title pull-left">Build New Search Query</h4>
				<button type="button" class="close pull-right" aria-label="Close" (click)="searchBuilderModal.hide()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-12">
						<span *ngIf="isMini; then searchBuilder"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<ng-template #searchBuilder>
	<div class="card" style="overflow: visible;">
		<div class="card-block">
			<h4 class="card-title">Search Builder</h4>
			<div class="card-text">
				<tag-input [(ngModel)]="selectedFields" [onlyFromAutocomplete]="true" placeholder="" secondaryPlaceholder="Select a search type..." [maxItems]="maxSearchCategories" theme="bootstrap" (onAdd)="fieldSelected($event)"
				 (onRemove)="fieldRemoved($event)">
					<tag-input-dropdown [appendToBody]="false" [showDropdownIfEmpty]="true" [autocompleteItems]="fields">
						<ng-template let-item="item">
							<div class="row" style="line-height: 30px;" *ngIf="!item.group">
								<div class="col-9" style="overflow: hidden; text-overflow: ellipsis;">{{item.display}}</div>
								<div class="col-3">
									<div class="media-right" style="display: inline-block;">
										<div class="media-right">
											<img class="media-object rounded-circle" style="width: 30px; height: 30px;" [src]="item.iconSrc" />
										</div>
									</div>
								</div>
							</div>
							<div class="row" style="line-height: 30px;" *ngIf="item.group">
								<div class="col-9" style="overflow: hidden; text-overflow: ellipsis;">{{item.display}}</div>
								<div class="col-3">
									<div class="media-right" style="display: inline-block;">
										<div class="media-right">
											<img class="media-object rounded-circle" style="width: 30px; height: 30px;" [src]="item.iconSrc" />
										</div>
									</div>
								</div>
							</div>
						</ng-template>
					</tag-input-dropdown>
				</tag-input>
				<br />
				<form novalidate #genericForm="ngForm" *ngIf="selectedFields.length > 0" (ngSubmit)="search(genericForm)">
					<div class="form-group" *ngFor="let textField of getFieldsByType(fieldTypes.TEXT)">
						<div class="input-group input-group-sm">
							<div class="input-group-prepend">
								<span class="input-group-text">
									{{textField.friendlyFieldName}}&nbsp;
									<span style="color: red" *ngIf="textField.required">*</span>
								</span>
							</div>
							<input type="text" [name]="textField.uniqueFieldName" class="form-control" [(ngModel)]="textField.value" [required]="textField.required" [disabled]="!hasNetwork.api" />
							<div class="input-group-append" style="padding-top: 0px; padding-bottom: 0px;">
								<span class="input-group-text">
									<img class="media-object rounded-circle" [src]="textField.fieldIcon" style="width: 25px; height: 25px;" />
								</span>
							</div>
						</div>
					</div>
					<div class="form-group" *ngFor="let refField of getFieldsByType(fieldTypes.REFERENCE)">
						<div class="input-group input-group-sm">
							<div class="input-group-prepend">
								<span class="input-group-text">
									{{refField.friendlyFieldName}}&nbsp;
									<span style="color: red" *ngIf="refField.required">*</span>
								</span>
							</div>
							<select [name]="refField.uniqueFieldName" class="form-control" style="height: auto;" [(ngModel)]="refField.value" [required]="refField.required" [disabled]="!hasNetwork.api">
								<option *ngFor="let item of refField.referenceItems" [ngValue]="item.value">{{item.text}}</option>
							</select>
							<div class="input-group-append" style="padding-top: 0px; padding-bottom: 0px;">
								<span class="input-group-text">
									<img class="media-object rounded-circle" [src]="refField.fieldIcon" style="width: 25px; height: 25px;" />
								</span>
							</div>
						</div>
					</div>
					<div class="form-group" *ngFor="let dateField of getFieldsByType(fieldTypes.DATE)">
						<div class="input-group input-group-sm">
							<div class="input-group-prepend">
								<span class="input-group-text">
									{{dateField.friendlyFieldName}}&nbsp;
									<span style="color: red" *ngIf="dateField.required">*</span>
								</span>
							</div>
							<input type="text" placeholder="yyyy-mm-dd" class="form-control" [name]="dateField.uniqueFieldName" placement="bottom" [(ngModel)]="dateField.value" bsDatepicker [isDisabled]="!hasNetwork.api"
							 [required]="dateField.required" [bsConfig]="{ containerClass: 'theme-default', dateInputFormat: 'YYYY-MM-DD', showWeekNumbers: false }" />
							<div class="input-group-append" style="padding-top: 0px; padding-bottom: 0px;">
								<span class="input-group-text">
									<img class="media-object rounded-circle" [src]="dateField.fieldIcon" style="width: 25px; height: 25px;" />
								</span>
							</div>
						</div>
					</div>
					<div class="form-group" *ngFor="let toggleField of getFieldsByType(fieldTypes.TOGGLE)">
						<div class="input-group input-group-sm">
							<div class="input-group-prepend" style="width: auto;">
								<span class="input-group-text">
									{{toggleField.friendlyFieldName}}&nbsp;
									<span style="color: red" *ngIf="toggleField.required">*</span>
								</span>
							</div>
							<div class="btn-group" role="group">
								<label *ngFor="let refItem of toggleField.referenceItems" class="btn btn-sm btn-info" [required]="toggleField.required" 
								 [(ngModel)]="toggleField.defaultValue ? toggleField.value : toggleValues[toggleField.uniqueFieldName]" role="button"
								 [btnRadio]="refItem.value" [name]="toggleField.uniqueFieldName" style="padding-top: 6px;">{{refItem.text}}</label>
							</div>
							<div class="input-group-append" style="padding-top: 0px; padding-bottom: 0px; width: auto;">
								<span class="input-group-text">
									<img class="media-object rounded-circle" [src]="toggleField.fieldIcon" style="width: 25px; height: 25px;" />
								</span>
							</div>
						</div>
					</div>
					<button type="submit" class="btn btn-sm btn-primary" style="margin-right: 5px;" [disabled]="!genericForm.valid || !hasNetwork.api">Search</button>
					<button type="reset" class="btn btn-sm btn-secondary" (click)="genericForm.reset(); selectedFields = []">Clear</button>
				</form>
			</div>
		</div>
	</div>
</ng-template>