<div class="result-view-container citation">
	<div class="citation-container">
		<h4>Citation Details</h4>
		<!-- <results-print-button (onPrint)="onPrint.emit()"></results-print-button> -->
		<div class="row">
			<!-- <div class="col-xs-12" *ngIf="headerText">
					<div class="well">{{ headerText }}</div>
				</div> -->
			<div class="col-xs-12 col-lg-6 col-md-6">
				<registration-card title="Citation Status" #card1 [startOpen]="true" [isPanelStatusIconRequired]="false">
					<div class="card-body">
						Ticket Number:
						<highlight-search class="highlight" [model]="model.TicketNum" [searchTerm]="searchTerm"></highlight-search>
						<br/> Ticket County:
						<highlight-search class="highlight" [model]="model.TicketCounty" [searchTerm]="searchTerm"></highlight-search>
						<br/> Ticket City:
						<highlight-search class="highlight" [model]="model.TicketCity" [searchTerm]="searchTerm"></highlight-search>
						<br/> Date Issued:
						<highlight-search class="highlight" [model]="model.DateIssued | toLocalDateTimeFromSQL" [searchTerm]="searchTerm"></highlight-search>
						<br/> Document Status:
						<highlight-search class="highlight" [model]="model.DocStatus + ' - ' + model.DocStatusName" [searchTerm]="searchTerm"></highlight-search>
						<br/> Void Reason:
						<highlight-search class="highlight" [model]="model.VoidReason" [searchTerm]="searchTerm"></highlight-search>
						<br/> Charge:
						<highlight-search class="highlight" [model]="model.Charge + ' - ' + model.ChargeDescription" [searchTerm]="searchTerm"></highlight-search>
						<br/> Clerk Notes Available:&nbsp;
						<validate-checkmark [model]="{ status: model.IsClerkNotesAvailable ? 'okay' : 'warning' }"></validate-checkmark>
						<br/> Transferred Status:
						<highlight-search class="highlight" [model]="model.TransferredStatus | toFormattedTransferStatus" [searchTerm]="searchTerm"></highlight-search>
						<br/>
					</div>
				</registration-card>
			</div>
			<div class="col-xs-12 col-lg-6 col-md-6">
				<registration-card title="Defendant/Vehicle Details" #card1 [startOpen]="true" [isPanelStatusIconRequired]="false">
					<div class="card-body">
						Defendant First Name:
						<highlight-search class="highlight" [model]="model.DefendantFirstName" [searchTerm]="searchTerm"></highlight-search>
						<br/> Defendant Middle Name:
						<highlight-search class="highlight" [model]="model.DefendantMiddleName" [searchTerm]="searchTerm"></highlight-search>
						<br/> Defendant Last Name:
						<highlight-search class="highlight" [model]="model.DefendantLastName" [searchTerm]="searchTerm"></highlight-search>
						<br/> Defendant Gender:
						<highlight-search class="highlight" [model]="model.DefendantGender" [searchTerm]="searchTerm"></highlight-search>
						<br/> Defendant Date of Birth:
						<highlight-search class="highlight" [model]="model.DefendantDOB | toLocalDateFromSQL" [searchTerm]="searchTerm"></highlight-search>
						<br/> License Number:
						<highlight-search class="highlight" [model]="model.LicNum" [searchTerm]="searchTerm"></highlight-search>
						<br/> License State:
						<highlight-search class="highlight" [model]="model.LicState" [searchTerm]="searchTerm"></highlight-search>
						<br/> Plate Number:
						<highlight-search class="highlight" [model]="model.VehTagNum" [searchTerm]="searchTerm"></highlight-search>
						<br/> Plate State:
						<highlight-search class="highlight" [model]="model.VehTagState" [searchTerm]="searchTerm"></highlight-search>
						<br/> Jailed:&nbsp;
						<validate-checkmark [model]="{ status: model.Jailed ? 'okay' : 'warning' }"></validate-checkmark>
						<br/>
					</div>
				</registration-card>
			</div>
			<div class="col-xs-12 col-lg-6 col-md-6">
				<registration-card title="Officer/Courthouse Details" #card1 [startOpen]="true" [isPanelStatusIconRequired]="false">
					<div class="card-body">
						Officer Name:
						<highlight-search class="highlight" [model]="model.OfficerName" [searchTerm]="searchTerm"></highlight-search>
						<br/> Creator Badge Number:
						<highlight-search class="highlight" [model]="model.CreatorBadgeNum" [searchTerm]="searchTerm"></highlight-search>
						<br/> Creator LEA:
						<highlight-search class="highlight" [model]="model.CreatorLEA" [searchTerm]="searchTerm"></highlight-search>
						<br/> Courthouse:
						<highlight-search class="highlight" [model]="model.Courthouse" [searchTerm]="searchTerm"></highlight-search>
						<br/> Court Code:
						<highlight-search class="highlight" [model]="model.CourtCode" [searchTerm]="searchTerm"></highlight-search>
						<br/> Court Date:
						<highlight-search class="highlight" [model]="model.CourtDate | toLocalDateFromSQL" [searchTerm]="searchTerm"></highlight-search>
						<br/>
					</div>
				</registration-card>
			</div>
		</div>
	</div>
</div>