.result-view-container {
    flex-grow: 1;
}

.citation {
    padding: 10px;
}

.citation h4 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 5px;
}

.citation-container {
    margin-left: 10px;
    margin-right: 10px;
}

.highlight {
    opacity: 0.6;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
}

@media print {
    .results-tabs {
        display: none !important;
    }
    .result-selector {
        display: none !important;
    }
}

@media print {
    .column.print-row {
        display: none !important;
    }
}