<div class="result-tab" (click)="onClick.emit()" [ngClass]="{ 'active': selected, 'text-primary': selected }">
	{{ headerLabel }}
	<div class="subheader">
		{{subHeaderLabel}}: {{subHeaderValue}}
	</div>
</div>