.result-tab {
    padding: 5px;
    font-size: 0.8em;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 15px;
    border-right: 0px;
    z-index: 5;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: padding-left 0.15s ease, padding-right 0.15s ease, color 0.3s ease;
    position: relative;
}

.result-tab:hover {
    background: rgba(51, 122, 183, 0.1);
    filter: none;
    cursor: pointer;
}

.result-tab.active {
    filter: none;
    padding-left: 20px;
    padding-right: 5px;
}

.result-tab:hover::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(51, 122, 183, 0.4);
    content: ' ';
    width: 5px;
}

.result-tab.active::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(51, 122, 183, 1);
    content: ' ';
    width: 5px;
}

.result-tab .subheader .subheader-label {
    opacity: 0.4;
}

.validate-mini {
    border-radius: 100%;
    display: inline-block;
    height: 16px;
    width: 16px;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    margin-left: 5px;
    opacity: 1;
}