<a class="nav-link" [attr.href]="disabled ? null : 'javascript:void(0)'" (click)="!disabled && onClick.emit()" [ngClass]="{ 'active': selected }">
	<span class="validate-mini bg-info text-light" *ngIf="!tab.showOffline" [ngClass]="{'bg-primary':highlightClass=='primary', 
		'bg-secondary':highlightClass=='secondary', 
		'bg-warning':highlightClass=='warning',
		'bg-danger':highlightClass=='danger', 
		'bg-info':highlightClass=='info', 
		'bg-success':highlightClass=='success'}">{{tab.tabNumber}}</span>
	{{ tab.tabLabel }}
	<span class="hint--info hint--top" data-hint="Offline Results" *ngIf="tab.showOffline">
		<i class="mdi mdi-wifi-off" style="color: gray;"></i>
	</span>
	<loading-animation [mini]="true" [miniLoadingProgress]="tab.loadingProgress" *ngIf="tab.loading" loaderSrc="assets/images/loader.png"></loading-animation>
	<span class="validate-mini bg-primary" data-toggle="tooltip" title="New Results Available" *ngIf="tab.newResults">!</span>
	<a [attr.href]="disabled ? null : 'javascript:void(0)'" (click)="!disabled && onClose.emit()">
		<i class="fa fa-times-circle"></i>
	</a>
</a>