.nav-link:hover {
	cursor: pointer;	
}

.nav-link {	
    border-radius: 0.55rem 0.55rem 0 0;
    border-color: #ddd #ddd transparent;
    padding: 0.5em 0.65em;
    transition: margin-top 0.1s ease, padding-bottom 0.1s ease;
}

.nav-link:not(.active) {
    /*background-color: rgba(255, 255, 255, 0.2);*/
    padding-bottom: 0.2em;
    margin-top: calc(0.5em - 0.2em);
    opacity: 0.8;
}

.nav-link i.fa {
    margin-left: 4px;
}

.validate-mini {
    border-radius: 100%;
    display: inline-block;
    height: 16px;
    width: 16px;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    margin-left: 5px;
    opacity: 1;
}