<i class="fa fa-lg" [ngClass]="{ 'fa-eye': !showScreen, 'fa-eye-slash': showScreen }" popover="Toggle Privacy Screen" placement="bottom" triggers="mouseenter:mouseleave">
</i>&nbsp;
<div class="privacy-screen" [@privacyState]="showScreen ? 'active' : 'inactive'"></div>