.result-view-container {
    flex-grow: 1;
}

.summary {
    padding: 10px;
}

.summary h4 {
    /*text-align: center;*/
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 5px;
}

.summary-container {
    float: left;
    display: inline-block;
    min-width: 30%;
    margin-left: 10px;
    margin-right: 10px;
}

.summary-details {
    padding: 15px;
}

.summary-details .label {
    font-size: 100%;
    line-height: 2;
}

.highlight {
    opacity: 0.6;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
}

.column-middle {
	text-align: center !important;
}