<div id="citationOverviewContainer" class="result-view-container summary">
	<div class="summary-container" style="width: 100%;">
		<div class="row">
			<div class="col-12">
				<div style="margin-top: 10px; display: inline-block; vertical-align: top; margin-right: 15px;">
					<h3 style="margin-top: 0px;">Search Summary</h3>
					Results total: &nbsp;
					<div class="badge badge-secondary">
						{{totalCitations}}
					</div>
					<br/> Searched at: &nbsp;
					<div class="badge badge-secondary">{{ ensureDate(searchDate) | date:'medium' }}</div>
					<br/>
					<results-print-button (onPrint)="onPrint.emit()"></results-print-button>
					<a href="javascript:void(0)" style="cursor: pointer;" (click)="toggleHistoryView()" *ngIf="searchTerms[0].type == 'vehicle' && showHistory && !showHistoryNoteTable">
						<i class="fa fa-file-text"></i>&nbsp;Show Vehicle Search History
					</a>
					<a href="javascript:void(0)" style="cursor: pointer;" (click)="toggleHistoryView()" *ngIf="searchTerms[0].type == 'vehicle' && showHistory && showHistoryNoteTable">
						<i class="fa fa-file-text"></i>&nbsp;Back to eCitation Search Results
					</a>
				</div>
				<div style="margin-top: 10px; display: inline-block; vertical-align: top; margin-right: 15px;">
					<search-term-box [searchTerms]="searchTerms"></search-term-box>
				</div>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-12" id="citationOverviewTable" *ngIf="!showHistoryNoteTable">
				<ngx-datatable ngx-resize-watcher class="material striped" [ngClass]="{ 'nightTable': themeMode == 'night', 'dayTable': themeMode == 'day' }" [limit]="10" [columnMode]="'force'" [loadingIndicator]="loading"
				 [externalSorting]="true" [externalPaging]="true" [rows]="citations" [count]="totalCitations" [offset]="pageNum" [selectionType]="false" (page)="page($event)" (sort)="sort($event)" [footerHeight]="40"
				 [rowHeight]="'auto'" [headerHeight]="40" style="min-width: 1350px;">
					<ngx-datatable-column name="Issued" prop="DateIssued" [width]="150" headerClass="text-primary">
						<ng-template let-value="value" ngx-datatable-cell-template>
							{{ value | date: 'short' }}
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="Ticket #" prop="TicketNum" [width]="125" headerClass="text-primary">
					</ngx-datatable-column>
					<ngx-datatable-column name="Vehicle" prop="VehTagNum" [width]="100" *ngIf="searchTerms[0].type != 'vehicle'" headerClass="text-primary">
						<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
							<a href="javascript:void(0)" (click)="runNewQuery(row, 'vehicle')" style="cursor: pointer">{{row.VehTagState + ' ' + row.VehTagNum}}</a>
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column [name]="searchTerms[0].type == 'officer' ? 'Recipient' : 'Driver'" prop="DefendantLastName" [width]="150" *ngIf="searchTerms[0].type != 'person'" headerClass="text-primary">
						<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
							<a href="javascript:void(0)" (click)="runNewQuery(row, 'person')" style="cursor: pointer">{{row.DefendantLastName + ', ' + row.DefendantFirstName}}</a>
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="DLN" prop="LicNum" [width]="100" *ngIf="searchTerms[0].type != 'license' && searchTerms[0].type != 'officer'" headerClass="text-primary">
						<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
							<a href="javascript:void(0)" (click)="runNewQuery(row, 'license')" style="cursor: pointer">{{row.LicState + ', ' + row.LicNum}}</a>
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="Location" prop="TicketCity" [width]="150" headerClass="text-primary">
						<ng-template let-row="row" ngx-datatable-cell-template>
							{{row.TicketCity}},
							<br /> {{row.TicketCounty}}
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="Issued By" prop="OfficerName" [width]="250" headerClass="text-primary">
						<ng-template let-row="row" ngx-datatable-cell-template>
							{{row.OfficerName}}
							<br /> {{row.AgencyName}}
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="Charges" prop="Charge" [width]="75" headerClass="text-primary">
					</ngx-datatable-column>
					<ngx-datatable-column name="Status" prop="TransferredStatus" [width]="75" [sortable]="false" [pipe]="transferStatusPipe">
					</ngx-datatable-column>
					<ngx-datatable-column name="Doc Type" prop="DocType" [width]="100" *ngIf="searchTerms[0].type == 'officer'" headerClass="text-primary">
					</ngx-datatable-column>
					<ngx-datatable-column name="Details" [sortable]="false" [width]="75">
						<ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
							<a href="javascript:void(0)" (click)="selectResultTab(rowIndex)" style="cursor: pointer">View Details</a>
						</ng-template>
					</ngx-datatable-column>
				</ngx-datatable>
			</div>
			<div class="col-12 col-md-8" *ngIf="showHistoryNoteTable">
				<form novalidate (submit)="submitQueryLogNote()">
					<div class="form-group">
						<label for="queryLogNote">Add Note to Current Search</label>
						<br />
						<input class="form-control align-middle" name="queryLogNote" type="text" placeholder="Enter a note..." style="width: 75%; display: inline-block;" [(ngModel)]="queryLogNote" />
						<button class="btn btn-primary" type="submit" [disabled]="!queryLogNote" style="margin-left: 15px;">Save Note</button>
					</div>
					<div class="form-group">
						<label for="historyFilter">Filter Vehicle Search History</label>
						<input type="text" name="historyFilter" class="form-control" (keyup)="filterHistoryResults($event)" placeholder="Type to filter results..." />
					</div>
				</form>
				<ngx-datatable #historyTable ngx-resize-watcher class="material striped" [rows]="historyData" [limit]="10" [count]="historyData.length" columnMode="force" [selectionType]="false" [footerHeight]="40"
				 [rowHeight]="'auto'" [ngClass]="{ 'nightTable': themeMode == 'night', 'dayTable': themeMode == 'day' }" [headerHeight]="40" [loadingIndicator]="loading" style="min-width: 775px;">
					<ngx-datatable-column name="Search Date" prop="DateSearched" [width]="175" headerClass="text-primary">
						<ng-template let-value="value" ngx-datatable-cell-template>
							{{value | date: 'short'}}
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="Search Parameters" [width]="150" headerClass="text-primary">
						<ng-template let-row="row" ngx-datatable-cell-template>
							{{serializeQueryLog(row)}}
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="Agency" [width]="200" prop="AgencyName" headerClass="text-primary">
					</ngx-datatable-column>
					<ngx-datatable-column name="Note" prop="QueryLogNote" [width]="250" headerClass="text-primary">
					</ngx-datatable-column>
				</ngx-datatable>
				<br />
				<button class="btn btn-primary pull-right" type="button" (click)="loadMoreHistoryResults()" [disabled]="!canLoadMoreHistoryResults()">Load More Results</button>
			</div>
		</div>
	</div>
</div>