<i class="fa fa-lg fa-search-plus" (click)="detailSearchModal.show()"></i>

<div bsModal #detailSearchModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name2">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<i class="fa fa-times fa-2x close" aria-label="Close" (click)="detailSearchModal.hide()">&nbsp;</i>
			</div>
			<div class="modal-body" style="padding: 5px;">
				<detail-search-card [categories]="categories" (onSearchSelected)="onSearchSelected.emit($event); detailSearchModal.hide();"></detail-search-card>
			</div>
		</div>
	</div>
</div>