<div class="result-view-container summary">
	<div class="summary-container" style="width: 100%;">
		<div class="row">
			<div class="col-12">
				<div style="margin-top: 10px; display: inline-block; vertical-align: top; margin-right: 15px;">
					<h3 style="margin-top: 0px;">Search History Summary</h3>
					Results total: &nbsp;
					<span class="badge badge-secondary">
						{{historyData.length}}
					</span>
				</div>
				<div style="margin-top: 10px; display: inline-block; vertical-align: top;">
					<search-term-box [searchTerms]="searchTerms"></search-term-box>
				</div>
			</div>
		</div>

		<br />

		<div class="row">
			<div class="col-12 col-lg-6">
				<div class="form-group">
					<label for="filter">Filter Search History</label>
					<input type="text" name="filter" class="form-control" (keyup)="filterResults($event)" placeholder="Type to filter results..." />
				</div>
				<ngx-datatable #table ngx-resize-watcher class="material striped" [rows]="historyData" [limit]="10" [columnMode]="'force'" [count]="historyData.length" [selectionType]="false" [footerHeight]="40"
				 [ngClass]="{ 'nightTable': themeMode == 'night', 'dayTable': themeMode == 'day' }" [rowHeight]="'auto'" [headerHeight]="40" [loadingIndicator]="loading">
					<ngx-datatable-column name="Search Date" prop="DateSearched" headerClass="text-primary">
						<ng-template let-value="value" ngx-datatable-cell-template>
							{{ value | date: 'short' }}
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="Search Type" prop="QueryType" headerClass="text-primary">
					</ngx-datatable-column>
					<ngx-datatable-column name="Search Parameters" [sortable]="false">
						<ng-template let-row="row" ngx-datatable-cell-template>
							<a href="javascript:void(0)" (click)="runNewQuery(row)" style="cursor: pointer">{{serializeQueryLog(row)}}</a>
						</ng-template>
					</ngx-datatable-column>
				</ngx-datatable>
				<br />
				<button class="btn btn-primary pull-right" type="button" (click)="loadMoreHistoryResults()" [disabled]="!canLoadMoreHistoryResults()">Load More Results</button>
			</div>
		</div>
	</div>
</div>