.validate-important {
	margin-top: 0.1rem;
	margin-bottom: 0.1rem;
	border: 1px solid #D3D3D3;
	border-left-width: .35rem;
	border-radius: .35rem;
	border-left-width: .5rem;
	border-radius: .5rem;
	white-space: nowrap;
	display: inline-block;
	/*width: calc(49% - 2 * 5px);*/
	margin-left: 5px;
	margin-right: 5px;
}

.validate-important>p {
	margin: 0;
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
	/* .15rem;*/
	font-size: inherit;
	padding: 0rem 0.25rem;
}

.validate-important.validate-danger {
	/*border-left-color: #d9534f;*/
	border-color: #d9534f;
}

.validate-important.validate-danger .validate-label {
	background-color: #d9534f;
	color: white;
	padding-right: 0.5rem;
}

.validate-important.validate-success {
	/*border-left-color: #5cb85c;*/
	border-color: #5cb85c;
}

.validate-important.validate-success .validate-label {
	background-color: #5cb85c;
	color: white;
	padding-right: 0.5rem;
}

.validate-important.validate-unknown {
	border-color: #666;
}

.validate-important.validate-unknown .validate-label {
	background-color: #666;
	color: white;
	padding-right: 0.5rem;
}