<registration-card *ngIf="model.hhgRegistration" [model]="model.hhgRegistration.isRegistered" [title]="'HHG Registration'" [startOpen]="startOpen">
	<div class="card-body">
		<p>
			Registered:
			<validate-checkmark [model]="model.hhgRegistration.isRegistered"></validate-checkmark>
		</p>
	</div>
</registration-card>