<div [ngStyle]="{ display: queries.length == 0 ? 'none' : 'flex' }" class="results-page">

	<!-- <threat-bar [threatLevel]="0" [threatBadges]="[]" *ngIf="selectedQueryTab && selectedQueryTab.loading"></threat-bar>
	<threat-bar [threatLevel]="selectedResult.threatLevel" [threatBadges]="selectedResult.threatBadges" *ngIf="selectedResult && !selectedQueryTab.loading"></threat-bar> -->
	<threat-bar [threatLevel]="selectedResult?.threatLevel" [threatBadges]="selectedResult?.threatBadges" audioDir="assets/sounds/"
		[playThreatAudio]="threatAudioEvent" [loading]="selectedQueryTab.loading" *ngIf="selectedQueryTab"></threat-bar>
	<br />

	<ul class="nav nav-tabs results-tabs" style="background-color: initial;">
		<li class="nav-item" *ngFor="let tab of tabs" query-tab [disabled]="selectedQueryTab.loading" [tab]="tab" [selected]="tab.queryId == selectedQueryTab.queryId" [highlightClass]="getClassForThreatLevel(tab.queryId)" 
		(onClick)="selectQueryTab(tab.queryId)" (onClose)="closeQueryTab(tab.queryId)">
		</li>
		<li class="nav-item pull-xs-right hint--info hint--top-left" data-hint="Close All Tabs">
			<a class="nav-link" (click)="closeAllTabs()">
				×
			</a>
		</li>
	</ul>

	<!-- <div class="results-list" *ngIf="selectedResult"> -->
	<div class="results-list" *ngIf="selectedQuery">
		<div class="results-container" *ngIf="selectedQuery.error">
			<div class="results-loading">
				<i class="fa fa-exclamation-triangle error-icon text-danger"></i> {{selectedQuery.error}}
			</div>
		</div>

		<div class="results-container" *ngIf="selectedQueryTab.loading && selectedQueryTab.loadingProgress == 0 && !selectedQuery.error">
			<div class="results-loading">
				<loading-animation [label]="'Searching...'" loaderSrc="assets/images/loader.png"></loading-animation>
			</div>
		</div>

		<div class="results-container" *ngIf="(!selectedQueryTab.loading || selectedQueryTab.loadingProgress != 0) && !selectedQuery.error">
			<div class="result-selector" *ngIf="!showHistory()">
				<!-- OVERVIEW RESULTS TAB -->
				<result-tab [selected]="selectedResultTab == OVERVIEW" (onClick)="selectedResultTab = OVERVIEW" headerLabel="Overview" subHeaderLabel="Results" 
				[subHeaderValue]="selectedResult.results.length">
				</result-tab>

				<span *ngIf="showCitations()">
					<result-tab *ngFor="let result of selectedResult.results; let i = index" [selected]="selectedResultTab == i" 
					[headerLabel]="result.DateIssued | toLocalDateTimeFromSQL" (onClick)="selectedResultTab = i"
					 subHeaderLabel="Ticket #" [subHeaderValue]="result.TicketNum">
					</result-tab>
				</span>

				<span *ngIf="showCarriers()">
					<result-tab *ngFor="let result of selectedResult.results; let i = index" [selected]="selectedResultTab == i" [headerLabel]="result.legalName" 
					(onClick)="selectedResultTab = i" subHeaderLabel="DOT #"
					 [subHeaderValue]="result.dotNumber">
					</result-tab>
				</span>
			</div>

			<!-- OVERVIEW COMPONENTS -->
			<citation-overview [citations]="selectedResult.results" [totalCitations]="selectedResult.resultCount" (launchNewQuery)="onSearch($event)" 
			[(selectedResultTab)]="selectedResultTab" [searchTerms]="selectedQuery.searchList" [showHistory]="true"
			 [searchDate]="selectedQuery.searchedAt" [loading]="searchInProgress" [getHistoryMethod]="getRawHistory" (onPage)="page($event)" 
			 (onSort)="sort($event)" (onPrint)="printOverview()" *ngIf="selectedResultTab == OVERVIEW && showCitations()"
			 (onQueryLogUpdate)="addNoteToQueryLog($event)" style="width: 90%">
			</citation-overview>

			<carrier-overview [searchTerms]="selectedQuery.searchList" [searchDate]="selectedQuery.searchedAt" [carriers]="selectedResult.results" [loading]="searchInProgress" 
			[(selectedResultTab)]="selectedResultTab"
			 *ngIf="selectedResultTab == OVERVIEW && showCarriers()" style="width: 80%">
			</carrier-overview>

			<history-overview [historyData]="selectedResult.results" (launchNewQuery)="onSearch($event)" [searchTerms]="selectedQuery.searchList" [loading]="searchInProgress" 
			[getHistoryMethod]="getRawHistory" *ngIf="selectedResultTab == OVERVIEW && showHistory()" style="width: 90%">
			</history-overview>

			<!-- DETAIL COMPONENTS -->
			<citation-detail class="col-xs-12" [model]="selectedResult.results[selectedResultTab]" [searchTerm]="" (onPrint)="printDetail()" 
			*ngIf="selectedResultTab >= 0 && showCitations()">
			</citation-detail>

			<carrier-detail class="col-xs-12" [model]="selectedResult.results[selectedResultTab]" [searchTerm]="" 
			*ngIf="selectedResultTab >= 0 && showCarriers()">
			</carrier-detail>
		</div>
	</div>
</div>