.bg-unknown {
    background: #888;
    color: white;
}

.results-page {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.nav-link:hover {
	cursor: pointer;
	background-color: #00665c !important;
}

.nav-link {
	background-color: #009688 !important;
    border-radius: 0.55rem 0.55rem 0 0;
    border-color: #ddd #ddd transparent;
    padding: 0.5em 0.65em;
    transition: margin-top 0.1s ease, padding-bottom 0.1s ease;
}

.nav-link:not(.active) {
    /*background-color: rgba(255, 255, 255, 0.2);*/
    padding-bottom: 0.2em;
    margin-top: calc(0.5em - 0.2em);
    opacity: 0.8;
}

.nav-link i.fa {
    margin-left: 4px;
}

.results-tabs {
    padding-left: 10px;
    padding-right: 10px;
    /* This is kinda gross and in the future may just want to remove padding from the .default-container */
    margin-left: -15px;
    margin-right: -15px;
}

.results-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /* This is kinda gross and in the future may just want to remove padding from the .default-container */
    margin-left: -15px;
    margin-right: -15px;
}

.results-loading {
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-direction: column;
}

.error-icon {
    font-size: 4.5em;
    margin: 15px;
    margin-top: 100px;
}

.validate-mini {
    border-radius: 100%;
    display: inline-block;
    height: 16px;
    width: 16px;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    margin-left: 5px;
    opacity: 1;
}

.results-list .results-container {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
    width: 100%;
    /*background: white;*/
}

.results-list .results-container .result-selector {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    max-width: 300px;
    min-width: 150px;
}

.results-list .results-container .result-selector-item {
    padding: 5px;
    font-size: 0.8em;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 15px;
    border-right: 0px;
    z-index: 5;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: padding-left 0.15s ease, padding-right 0.15s ease, color 0.3s ease;
    position: relative;
}

.results-list .results-container .result-selector-item:hover {
    background: rgba(51, 122, 183, 0.1);
    filter: none;
    cursor: pointer;
}

.results-list .results-container .result-selector-item.active {
    filter: none;
    padding-left: 20px;
    padding-right: 5px;
}

.results-list .results-container .result-selector-item:hover::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(51, 122, 183, 0.4);
    content: ' ';
    width: 5px;
}

.results-list .results-container .result-selector-item.active::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(51, 122, 183, 1);
    content: ' ';
    width: 5px;
}

.results-list .results-container .result-selector-item .subheader .subheader-label {
    opacity: 0.4;
}


/*.results-list .results-container .result-selector-item .validate-mini {
        border-radius: 100%;
        display: inline-block;
        height: 16px;
        width: 16px;
        line-height: 16px;
        font-size: 12px;
        text-align: center;
        margin-left: 5px;
        opacity: 1;
      }*/

.results-list .results-container .result-view-container {
    flex-grow: 1;
}

.highlight {
    opacity: 0.6;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
}

.results-count-summary {
    display: flex;
    width: 100%;
    padding: 20px;
}

.results-count-box {
    min-width: 150px;
    margin: 10px;
    text-align: center;
}

.results-count-box>div {
    padding: 20px;
}

.results-count-box .count-icon {
    font-size: 2em;
}

.results-count-box .count-num {
    font-size: 2.4em;
    margin-bottom: 6px;
}

.results-count-box .count-desc {
    font-size: 1.5em;
}

.clickable {
    cursor: pointer;
}

.summary-details .label {
    font-size: 100%;
    line-height: 2;
}

.tour-button {
    position: absolute;
    top: 10%;
    left: 0;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    background: #fff;
    color: #555;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    padding: 8px;
    border: 2px solid #777;
    border-top: 2px solid #777 !important;
    border-bottom: 2px solid #777 !important;
    border-left: 2px solid transparent;
    transition: all 0.2s ease;
    font-size: 0.85em;
    cursor: pointer;
}

.tour-button:hover {
    box-shadow: 1px 5px 7px rgba(0, 0, 0, 0.24);
    background: #e8e8e8;
    border-left: 7px solid rgba(0, 0, 0, 0.6);
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
}

.tour-button-header {
    text-align: center;
    margin-bottom: 5px;
}


/*Business Card Css */

.business-card {
    border: 1px solid #cccccc;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.profile-img {
    height: 120px;
}

.job {
    color: #666666;
    font-size: 17px;
}

.mail {
    font-size: 16px;
}

@media print {
    .results-tabs {
        display: none !important;
    }
    .result-selector {
        display: none !important;
    }
}

@media print {
    .column.print-row {
        display: none !important;
    }
}