.slider-container {
    position: fixed;
    z-index: 1021;
    height: 100%;
    top: 0;
    overflow-y: scroll;
}

@media (max-width: 576px) {
    .slider-container {
		width: 85%;
		right: 0;
    }
}

@media (min-width: 576px) {
    .slider-container {
        width: 80%;
        left: 0;
        right: 0;
        margin: 5% auto;
    }
}

@media (min-width: 768px) {
    .slider-container {
        width: 50%;
        left: 0;
        right: 0;
        margin: 5% auto;
    }
}

@media (min-width: 992px) {
    .slider-container {
        width: 40%;
        left: 0;
        right: 0;
        margin: 5% auto;
    }
}

@media (min-width: 992px) {
    .slider-container {
        width: 30%;
        left: 0;
        right: 0;
        margin: 5% auto;
    }
}