.result-view-container {
    flex-grow: 1;
}

.carrier-detail-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.carrier-detail-container .column {
    padding: 18px;
    /*flex: 4;*/
    width: 100%;
}

.carrier-detail-container h4 {
    text-align: center;
}

.carrier-detail-container .subheader {
    /*color: rgba(0, 0, 0, 0.8);*/
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    font-size: 0.9em;
    padding: 3px 8px 3px 3px;
    display: flex;
    align-items: flex-end;
    align-items: center;
}

.highlight {
    /*color: rgba(0, 0, 0, 0.4);*/
    opacity: 0.6;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    /*border-bottom: 1px solid rgba(0, 0, 0, 0.04);*/
}

.registration-card.card-block,
.registration-card .card-block {
    padding: 0.8rem;
}

.registration-card h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

registration-card .panel-body:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
}

.bd-callout h4 {
    margin-top: 0;
    margin-bottom: .25rem;
}

.carrier-detail-container .column.registration-container {
    /*flex: 5;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin: 0;
    /* override bootstrap row negative margins */
}

.registration-container>registration-card {
    /*flex: 1;*/
}


/* Less than XLarge Screens */

@media only screen and (max-width: 90.063em) {
    /* min-width 1441px, xlarge screens */
    .carrier-detail-container .column {
        /*flex: 6;*/
    }
    .carrier-detail-container .column.registration-container {
        /*flex: 4;*/
    }
    .registration-card {
        width: calc(100% - 2 * 0.75rem);
        box-sizing: border-box;
        margin: 0.75rem;
    }
}

@media only screen and (max-width: 64.063em) {
    /* min-width 1025px, large screens */
    .carrier-detail-container .column {
        /*flex: 7;*/
    }
    .carrier-detail-container .column.registration-container {
        /*flex: 4;*/
    }
    .registration-card {
        width: calc(100% - 2 * 0.75rem);
        box-sizing: border-box;
        margin: 0.75rem;
    }
}

@media only screen and (max-width: 40.063em) {
    /* min-width 641px, medium screens */
    .carrier-detail-container {
        flex-direction: column;
    }
    .carrier-detail-container .column {
        flex: auto;
    }
    .carrier-detail-container .column.registration-container {
        flex: auto;
    }
    .registration-card {
        width: calc(100% - 2 * 0.75rem);
        box-sizing: border-box;
        margin: 0.75rem;
    }
}

.column.print-row {
    padding: 0px;
    padding-right: 6px;
    margin-top: -10px;
}

@media print {
    .column.print-row {
        display: none !important;
    }
}