<div class="result-view-container">
	<div class="carrier-detail-container">
		<div class="column">
			<h4>{{ model.legalName }}</h4>
			<div class="subheader">
				<validation-label [labelClass]="validateClass(model.isOutOfService, carrierDetailStatusLabelClass)" text="Out of service:" [isValid]="model.isOutOfService"></validation-label>
				<validation-label [labelClass]="validateClass(model.isActive, carrierDetailStatusLabelClass)" text="Is active:" [isValid]="model.isActive"></validation-label>
				<div style="flex-grow: 1"></div>
				<div>
					DOT:
					<highlight-search class="highlight" [model]="model.dotNumber" [searchTerm]="searchTerm"></highlight-search>
					State:
					<span class="highlight">{{ model.state }}</span>
				</div>
			</div>
		</div>

		<!-- <div class="column print-row" style="display: flex;">
				<div style="flex-grow: 1;"></div>
				<results-print-button (onPrint)="openAllCards()"></results-print-button>
			</div> -->

		<div class="column registration-container row">
			<carrier-info-card [model]="model" [searchTerm]="searchTerm" class="col-xs-12 col-sm-12 col-md-6 col-lg-6"></carrier-info-card>
			<basic-info-card [model]="model" [startOpen]="cardOpenStatus" [overallValid]="basicsAreValid(model.basics, carrierDetailStatusLabelClass)" *ngIf="model.basics" class="col-xs-12 col-sm-12 col-md-6 col-lg-6"></basic-info-card>
			<ucr-info-card [model]="model" [startOpen]="cardOpenStatus" [overallValid]="model.federalRegistration.isRegistered" *ngIf="model.federalRegistration" class="col-xs-12 col-sm-6 col-md-3 col-lg-3"></ucr-info-card>
			<gimc-info-card [model]="model" [startOpen]="cardOpenStatus" class="col-xs-12 col-sm-6 col-md-3 col-lg-3"></gimc-info-card>
			<hhg-info-card [model]="model" [startOpen]="cardOpenStatus" class="col-xs-12 col-sm-6 col-md-3 col-lg-3"></hhg-info-card>
			<passenger-info-card [model]="model" [startOpen]="cardOpenStatus" class="col-xs-12 col-sm-6 col-md-3 col-lg-3"></passenger-info-card>
			<ucr-details-info-card [model]="model" [startOpen]="cardOpenStatus" *ngIf="model.ucrData && model.ucrData.length" class="col-xs-12 col-sm-12 col-md-6 col-lg-6"></ucr-details-info-card>
		</div>
	</div>
</div>