<div class="result-view-container summary">
	<div class="summary-container">
		<h2>Search Summary</h2>
		<div class="row">
			<div class="col-xs-12 col-lg-6">
				Results total: &nbsp;
				<div class="label label-default">
					{{ totals.totalCarriers + totals.totalPeople + totals.totalVehicles }}
				</div>
				<br/> Searched at: &nbsp;
				<div class="label label-default">{{ ensureDate(searchDate) | date:'medium' }}</div>
				<br/>
			</div>
			<div class="col-xs-12 col-lg-6">
				<search-term-box [searchTerms]="searchTerms"></search-term-box>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6 col-xs-12">
				<result-total-card categoryImageSrc="./images/test_people.png" resultCategory="People" [resultTotal]="totals.totalPeople" (onClick)="selectResultTab(PEOPLE)"></result-total-card>
			</div>
			<div class="col-lg-4 col-md-6 col-xs-12">
				<result-total-card categoryImageSrc="./images/test_vehicle.png" resultCategory="Vehicles" [resultTotal]="totals.totalVehicles" (onClick)="selectResultTab(VEHICLES)"></result-total-card>
			</div>
			<div class="col-lg-4 col-md-6 col-xs-12">
				<result-total-card categoryImageSrc="./images/test_carrier.png" resultCategory="Carriers" [resultTotal]="totals.totalCarriers" (onClick)="selectResultTab(0)"></result-total-card>
			</div>
		</div>
	</div>
</div>