<div class="result-view-container summary">
	<div class="summary-container" style="width: 100%;">
		<div class="row">
			<div class="col-12">
				<div style="margin-top: 10px; display: inline-block; vertical-align: top; margin-right: 15px;">
					<h3 style="margin-top: 0px;">Search Summary</h3>
					Results total: &nbsp;
					<div class="badge badge-secondary">
						{{carriers.length}}
					</div>
					<br/> Searched at: &nbsp;
					<div class="badge badge-secondary">{{ ensureDate(searchDate) | date:'medium' }}</div>
					<br/>
				</div>
				<div style="margin-top: 10px; display: inline-block; vertical-align: top; margin-right: 15px;">
					<search-term-box [searchTerms]="searchTerms"></search-term-box>
				</div>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-12">
				<ngx-datatable ngx-resize-watcher class="material striped" [rows]="carriers" [limit]="10" [columnMode]="'force'" [loadingIndicator]="loading" [count]="carriers.length" [offset]="pageNum" [selectionType]="false"
				 [footerHeight]="40" [rowHeight]="'auto'" [headerHeight]="40">
					<ngx-datatable-column name="DOT #" prop="dotNumber" headerClass="text-primary">
					</ngx-datatable-column>
					<ngx-datatable-column name="Legal Name" prop="legalName" [minWidth]="250" headerClass="text-primary">
					</ngx-datatable-column>
					<ngx-datatable-column name="DBA Name" prop="dbaName" [minWidth]="250" headerClass="text-primary">
					</ngx-datatable-column>
					<ngx-datatable-column name="Operation Class" prop="operationClass" headerClass="text-primary">
					</ngx-datatable-column>
					<ngx-datatable-column name="State" prop="state" [minWidth]="100" headerClass="text-primary">
					</ngx-datatable-column>
					<ngx-datatable-column name="In Service" prop="isInService" headerClass="text-primary">
						<ng-template let-value="value" ngx-datatable-cell-template>
							<i class="fa fa-lg" [ngClass]="{ 'fa-check': value, 'fa-times': !value }" [ngStyle]="{'color': value ? 'green' : 'red'}"></i>
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="Active" prop="isActive" headerClass="text-primary">
						<ng-template let-value="value" ngx-datatable-cell-template>
							<i class="fa fa-lg" [ngClass]="{ 'fa-check': value, 'fa-times': !value }" [ngStyle]="{'color': value ? 'green' : 'red'}"></i>
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="Details" [sortable]="false">
						<ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
							<a href="javascript:void(0)" (click)="selectResultTab(rowIndex)" style="cursor: pointer">View Details</a>
						</ng-template>
					</ngx-datatable-column>
				</ngx-datatable>
			</div>
		</div>
	</div>
</div>