<div class="dropdown">
	<i class="fa fa-lg fa-cog" data-toggle="dropdown" popover="Settings" placement="bottom" triggers="mouseenter:mouseleave"></i>&nbsp;
	<ul class="dropdown-menu dropdown-menu-right" role="menu" style="text-align: center;">
		<li class="dropdown-item" role="menuitem">
			<a>
				Font Size&nbsp;
				<input type="range" [(ngModel)]="fontSlider" step="2" min="12" max="20" list="fontSizeTickmarks" (change)="fontSizeChanged($event)" />
				<datalist id="fontSizeTickmarks">
					<option value="12">
					<option value="14">
					<option value="16">
					<option value="18">
					<option value="20">
				</datalist>
				<!-- <ngx-slider [(ngModel)]="fontSlider" [step]="2" [showTicks]="true" [tickStep]="2" [filled]="false" [min]="12" [max]="20" (change)="fontSizeChanged($event)">
				</ngx-slider> -->
			</a>
		</li>		
		<li role="separator" class="divider"></li>
		<li class="dropdown-item" role="menuitem">
			<a>
				Volume&nbsp;
				<input type="range" [(ngModel)]="volumeSlider" step="0.2" min="0.0" max="1.0" list="volumeTickmarks" (change)="volumeChanged($event)" />
				<datalist id="volumeTickmarks">
					<option value="0.0">
					<option value="0.2">
					<option value="0.4">
					<option value="0.6">
					<option value="0.8">
					<option value="1.0">
				</datalist>
				<!-- <ngx-slider [(ngModel)]="volumeSlider" [step]="0.2" [showTicks]="true" [tickStep]="0.2" [filled]="false" [min]="0.0" [max]="1.0" (change)="volumeChanged($event)">
				</ngx-slider> -->
			</a>
		</li>
		<li role="separator" class="divider" *ngIf="!hideExport"></li>
		<li class="dropdown-item" role="menuitem" *ngIf="!hideExport">
			<a style="cursor: pointer;" (click)="export()">Upload Logs&nbsp;&nbsp;<i class="fa fa-lg fa-upload"></i></a>
		</li>
		<li role="separator" class="divider" *ngIf="!hideReleaseNotes"></li>
		<li class="dropdown-item" role="menuitem" *ngIf="!hideReleaseNotes">
			<a style="cursor: pointer;" (click)="showReleaseNotes()">View Release Notes&nbsp;&nbsp;<i class="fa fa-lg fa-tasks"></i></a>
		</li>
	</ul>
</div>