<registration-card title="Raw Response Data" [startOpen]="false" [isPanelStatusIconRequired]="false">
	<div class="panel-body">
		<textarea readonly style="width: 100%; height: 100%;">{{rawData}}</textarea>
	</div>
</registration-card>