<div class="card bg-light shadow" style="overflow: visible;">
	<div class="card-header d-flex justify-content-between">
		{{_.capitalize(category.name)}} Search
		<i *ngIf="showCloseButton" class="fa fa-lg fa-times" (click)="onClose.emit()"></i>
	</div>
	<div class="card-body d-flex flex-wrap">
		<form class="form-inline" novalidate #genericForm="ngForm" *ngIf="fields.length > 0" (ngSubmit)="search(genericForm)">
			<div class="flex-fill mb-2 mr-2" *ngFor="let textField of getFieldsByType(fieldTypes.TEXT)">
				<div class="input-group input-group-sm">
					<div class="input-group-prepend">
						<span class="input-group-text">
							{{textField.friendlyFieldName}}&nbsp;
							<span style="color: red" *ngIf="textField.required">*</span>
						</span>
					</div>
					<input type="text" [name]="textField.uniqueFieldName" class="form-control" [(ngModel)]="textField.value" [required]="textField.required" />
					<!-- <div class="input-group-append" style="padding-top: 0px; padding-bottom: 0px;">
						<span class="input-group-text">
							<img class="media-object rounded-circle" [src]="textField.fieldIcon" style="width: 25px; height: 25px;" />
						</span>
					</div> -->
				</div>
			</div>
			<div class="flex-fill mb-2 mr-2" *ngFor="let refField of getFieldsByType(fieldTypes.REFERENCE)">
				<div class="input-group input-group-sm">
					<div class="input-group-prepend">
						<span class="input-group-text">
							{{refField.friendlyFieldName}}&nbsp;
							<span style="color: red" *ngIf="refField.required">*</span>
						</span>
					</div>
					<select [name]="refField.uniqueFieldName" class="form-control" style="height: auto;" [(ngModel)]="refField.value" [required]="refField.required">
						<option *ngFor="let item of refField.referenceItems" [ngValue]="item.value">{{item.text}}</option>
					</select>
					<!-- <div class="input-group-append" style="padding-top: 0px; padding-bottom: 0px;">
						<span class="input-group-text">
							<img class="media-object rounded-circle" [src]="refField.fieldIcon" style="width: 25px; height: 25px;" />
						</span>
					</div> -->
				</div>
			</div>
			<div class="flex-fill mb-2 mr-2" *ngFor="let dateField of getFieldsByType(fieldTypes.DATE)">
				<div class="input-group input-group-sm">
					<div class="input-group-prepend">
						<span class="input-group-text">
							{{dateField.friendlyFieldName}}&nbsp;
							<span style="color: red" *ngIf="dateField.required">*</span>
						</span>
					</div>
					<input type="text" placeholder="yyyy-mm-dd" class="form-control" [name]="dateField.uniqueFieldName" placement="bottom" [(ngModel)]="dateField.value" bsDatepicker
						[required]="dateField.required" [bsConfig]="{ containerClass: 'theme-default', dateInputFormat: 'YYYY-MM-DD', showWeekNumbers: false }" />
					<!-- <div class="input-group-append" style="padding-top: 0px; padding-bottom: 0px;">
						<span class="input-group-text">
							<img class="media-object rounded-circle" [src]="dateField.fieldIcon" style="width: 25px; height: 25px;" />
						</span>
					</div> -->
				</div>
			</div>
			<div class="flex-fill mb-2 mr-2" *ngFor="let toggleField of getFieldsByType(fieldTypes.TOGGLE)">
				<div class="input-group input-group-sm">
					<div class="input-group-prepend" style="width: auto;">
						<span class="input-group-text">
							{{toggleField.friendlyFieldName}}&nbsp;
							<span style="color: red" *ngIf="toggleField.required">*</span>
						</span>
					</div>
					<div class="btn-group" role="group">
						<label *ngFor="let refItem of toggleField.referenceItems" class="btn btn-sm btn-info" [required]="toggleField.required"
							[(ngModel)]="toggleField.defaultValue ? toggleField.value : toggleValues[toggleField.uniqueFieldName]" role="button" [btnRadio]="refItem.value"
							[name]="toggleField.uniqueFieldName" style="padding-top: 6px;">{{refItem.text}}</label>
					</div>
					<!-- <div class="input-group-append" style="padding-top: 0px; padding-bottom: 0px; width: auto;">
						<span class="input-group-text">
							<img class="media-object rounded-circle" [src]="toggleField.fieldIcon" style="width: 25px; height: 25px;" />
						</span>
					</div> -->
				</div>
			</div>
			<br />
			<div style="width: 100%; text-align: center;">
				<button type="submit" class="btn btn-sm btn-primary" style="margin-right: 5px;" [disabled]="!genericForm.valid">Search</button>
				<button type="reset" class="btn btn-sm btn-secondary" (click)="genericForm.reset()">Clear</button>
			</div>
		</form>
	</div>
</div>