<div class="container-fluid" style="padding: 0;" #wrapper>
	<collapsible-card-deck deckName="Citation Results">
		<citation-card *ngFor="let citation of testCitations" [citationData]="citation" (onShowDetails)="showDetails($event)"></citation-card>
	</collapsible-card-deck>
	<collapsible-card-deck deckName="License Results">
		<license-card (onShowDetails)="showDetails($event)"></license-card>
		<license-card (onShowDetails)="showDetails($event)"></license-card>
		<license-card (onShowDetails)="showDetails($event)"></license-card>
	</collapsible-card-deck>
	<collapsible-card-deck deckName="DOC Results">
		<doc-card (onShowDetails)="showDetails($event)"></doc-card>
		<doc-card (onShowDetails)="showDetails($event)"></doc-card>
		<doc-card (onShowDetails)="showDetails($event)"></doc-card>
	</collapsible-card-deck>
	<collapsible-card-deck deckName="AlaSafe Results">
		<alasafe-card (onShowDetails)="showDetails($event)"></alasafe-card>
		<alasafe-card (onShowDetails)="showDetails($event)"></alasafe-card>
		<alasafe-card (onShowDetails)="showDetails($event)"></alasafe-card>
	</collapsible-card-deck>
	<collapsible-card-deck deckName="Boat Results">
		<boat-card (onShowDetails)="showDetails($event)"></boat-card>
		<boat-card (onShowDetails)="showDetails($event)"></boat-card>
		<boat-card (onShowDetails)="showDetails($event)"></boat-card>
	</collapsible-card-deck>
	<collapsible-card-deck deckName="NameMaster Results">
		<namemaster-card (onShowDetails)="showDetails($event)"></namemaster-card>
		<namemaster-card (onShowDetails)="showDetails($event)"></namemaster-card>
		<namemaster-card (onShowDetails)="showDetails($event)"></namemaster-card>
	</collapsible-card-deck>
	<collapsible-card-deck deckName="Protection Order Results">
		<protection-order-card (onShowDetails)="showDetails($event)"></protection-order-card>
		<protection-order-card (onShowDetails)="showDetails($event)"></protection-order-card>
		<protection-order-card (onShowDetails)="showDetails($event)"></protection-order-card>
	</collapsible-card-deck>
	<collapsible-card-deck deckName="Sex Offender Results">
		<sex-offender-card (onShowDetails)="showDetails($event)"></sex-offender-card>
		<sex-offender-card (onShowDetails)="showDetails($event)"></sex-offender-card>
		<sex-offender-card (onShowDetails)="showDetails($event)"></sex-offender-card>
	</collapsible-card-deck>
	<collapsible-card-deck deckName="Hotfile Warrant Results">
		<warrant-card (onShowDetails)="showDetails($event)"></warrant-card>
		<warrant-card (onShowDetails)="showDetails($event)"></warrant-card>
		<warrant-card (onShowDetails)="showDetails($event)"></warrant-card>
	</collapsible-card-deck>	
</div>