<nav [id]="id" class="navbar navbar-expand navbar-dark fixed-top bg-primary usp-navbar" style="position: sticky;">	
	<a *ngIf="defaultRoute" class="navbar-brand" href="#" [routerLink]="defaultRoute">{{applicationHeader}}</a>
	<span *ngIf="!defaultRoute" class="navbar-brand">{{applicationHeader}}</span>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarIcons" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarIcons">
		<ul class="navbar-nav ml-auto">
			<ng-content></ng-content>
		</ul>
	</div>
</nav>