.usp-navbar {
	height: 32px; 
	padding: 0px 15px 0px 15px; 
	line-height: 32px; 
	font-size: 14px;
}
.usp-navbar .navbar-brand { 
	-webkit-app-region: no-drag; 
	margin: 0; 
	font-size: 14px;
	color: #eee;
}