<span class="badge badge-primary npm-badge" style="font-weight: bold">{{badgelabel}}</span>
<span class="badge npm-badge" [ngClass]="{'badge-secondary':badgeclass=='secondary', 
	'badge-warning':badgeclass=='warning',
	'badge-danger':badgeclass=='danger', 
	'badge-info':badgeclass=='info', 
	'badge-success':badgeclass=='success'}">{{badgevalue}}</span>