<div class="container-fluid usp-mobile-container" style="padding: 0px;">
	<nav-sidebar-template appHeader="LETS">
		<nav class="nav-item">
			<a class="nav-link" home-nav [routerLink]="['./']" popoverPosition="right"></a>
		</nav>
		<nav class="nav-item">
			<a class="nav-link" search-bar-toggle popoverPosition="right" (onToggle)="toggleSearchBar()"></a>
		</nav>
		<nav class="nav-item">
			<a class="nav-link" detail-search-dialog [categories]="searchCategories$ | async" (onSearchSelected)="toggleSlider($event)"></a>
		</nav>
		<!-- <nav class="nav-item">
			<a class="nav-link" privacy-screen></a>
		</nav> -->
		<!-- <nav class="nav-item">
			<a class="nav-link" theme-picker></a>
		</nav> -->
		<nav class="nav-item">
			<a class="nav-link" day-night-toggle></a>
		</nav>
	</nav-sidebar-template>
	<div style="overflow: hidden; flex-grow: 1;">
		<smart-search-bar [toggleSearchBar]="searchBarToggler"></smart-search-bar>
		<br />
		<detail-search-card [categories]="searchCategories$ | async" (onSearchSelected)="toggleSlider($event)"></detail-search-card>
		<br />
		<recent-search-card [recentSearches]="recentSearches"></recent-search-card>
	</div>
</div>

<detail-search-slider [toggleSlider]="sliderToggler" (onSearch)="search($event)"></detail-search-slider>