<registration-card *ngIf="model.georgiaRegistration" title="GIMC" [model]="model.georgiaRegistration.isRegistered" [startOpen]="startOpen">
	<div class="card-body">
		<p>
			Registered:
			<validate-checkmark [model]="model.georgiaRegistration.isRegistered"></validate-checkmark>
		</p>
	</div>
</registration-card>