<div [id]="id">
	<span *ngIf="fieldLabel!=''">{{ fieldLabel }}:&nbsp;</span>
	<a class="highlight" (click)="collapsed = !collapsed" style="cursor: pointer;">{{ fieldValue | formatIfDate }}</a>
</div>
<div [collapse]="collapsed">
	<div>
		<table class="table table-striped table-condensed">
			<thead>
				<tr>
					<th>Source</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let source of sources">
					<td>{{ source.name }}</td>
					<td>{{ source.value | formatIfDate }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>