<!-- <p-sidebar [(visible)]="opened" [position]="position" [modal]="true" [dismissible]="true" styleClass="ui-sidebar-sm" [appendTo]="appendToElement" [style]="openStyles" [showCloseIcon]="false">
	<div class="list-group">
		<a *ngFor="let category of resultCategories" href="javascript:void(0)" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
			{{category.categoryName}}<span class="badge badge-primary badge-pill">{{category.numResults}}</span>
		</a> 

		<a href="javascript:void(0)" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
			License<span class="badge badge-primary badge-pill">9</span>
		</a>
		<a href="javascript:void(0)" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
			Namemaster<span class="badge badge-primary badge-pill">7</span>
		</a>
		<a href="javascript:void(0)" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
			Department of Corrections<span class="badge badge-primary badge-pill">2</span>
		</a>
	</div>
	<br />
	<button (click)="toggleSidebar()">
		Close
	</button>
</p-sidebar>-->