<div class="card bg-light shadow">
	<div class="card-header">
		Recent Searches
	</div>
	<div class="card-body" style="padding: 5px;">		
		<div class="list-group">
			<a href="javascript:void(0)" class="list-group-item list-group-item-action" *ngFor="let recentSearch of recentSearches" (click)="rerunSearch(recentSearch)">
				<span>
					{{recentSearch.sources}}
				</span>
				<br />
				<npm-badge *ngFor="let param of recentSearch.parsedParams | keyvalue" [badgelabel]="param.key" [badgevalue]="param.value" badgeclass="secondary"></npm-badge>
			</a>
		</div>
	</div>
</div>