<div class="card bg-light shadow flex-card">
	<div class="card-body" style="padding: 0.75rem;">
		<div class="d-flex flex-nowrap">
			<div *ngIf="getPhoto && photoSrc">
				<img [src]="photoSrc" class="card-img-top" style="height: 50px; width: 50px;" (click)="photoModal.show()" />
			</div>
			<div *ngIf="getPhoto && !photoSrc">
				<i class="fa fa-spinner fa-pulse fa-2x"></i>
			</div>
			<div style="margin-left: 10px;">
				<h5 class="card-title">{{cardTitle}}</h5>
				<h6 class="card-subtitle">{{cardSubtitle}}</h6>
			</div>
		</div>
		<div class="d-flex flex-wrap justify-content-between">
			<div *ngFor="let row of rows">
				<div>
					{{row[0].fieldKey}}
				</div>
				<div class="text-muted">
					{{row[0].fieldValue}}
				</div>
				<div>
					{{row[1].fieldKey}}
				</div>
				<div class="text-muted">
					{{row[1].fieldValue}}
				</div>
			</div>
			<div class="d-flex flex-column flex-nowrap justify-content-end">
				<div style="margin-bottom: 10px;">
					<a href="javascript:void(0)" class="card-link" (click)="onPin.emit()">
						<i class="fa fa-lg fa-thumbtack"></i>
					</a>
				</div>
				<div>
					<a href="javascript:void(0)" class="card-link" (click)="onDetails.emit()">
						<i class="fa fa-lg fa-external-link-alt"></i>
					</a>
				</div>
			</div>
		</div>		
	</div>
</div>

<div bsModal #photoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name2">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<h4 id="dialog-sizes-name2" class="modal-title pull-left">{{cardSubtitle}}</h4>
				<i class="fa fa-times fa-2x close" aria-label="Close" (click)="photoModal.hide()">&nbsp;</i>
			</div>
			<div class="modal-body">
				<img [src]="photoSrc" style="width: 100%; height: 100%;" />
			</div>
		</div>
	</div>
</div>