<div [id]="id" class="loader-box bg-transparent" *ngIf="!mini">
	<div class="text-primary">{{ label }}</div>
	<div class="loader border-primary">
		<div class="element-animation">
			<img [src]="loaderSrc" width="1180" height="70">
		</div>
	</div>
</div>

<i class="fa fa-spinner loading-anim-mini" [ngClass]="getMiniLoaderColor()" *ngIf="mini"></i>