<registration-card *ngIf="model.passengerRegistration" [title]="'Passenger Registration'" [model]="model.passengerRegistration.isRegistered" [startOpen]="startOpen">
	<div class="card-body">
		<p>
			Registered:
			<validate-checkmark [model]="model.passengerRegistration.isRegistered"></validate-checkmark>
		</p>
	</div>
</registration-card>