<div class="result-view-container vehicles">
	<div class="vehicles-container">
		<h4>Vehicles</h4>

		<div class="row">
			<div class="column print-row" style="display: flex;">
				<div style="flex-grow: 1;"></div>
				<accordion-toggle-button (onToggle)="toggleSourceTables()" style="padding-right: 10px;"></accordion-toggle-button>
				<results-print-button (onPrint)="openAllCards([card1, card2, card3, card4])"></results-print-button>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="well">{{ headerText }}</div>
			</div>
			<div class="col-xs-12">
				<blockquote>
					<p>
						<collapse-table fieldLabel="" fieldName="freeText" [fieldValue]="model.vehicle.freeText" [sources]="getSourcesForField('freeText')" [expandEvent]="tableExpandEmitter" [toggleEvent]="tableToggleEmitter"></collapse-table>
					</p>
					<footer>
						<cite title="Source Title"> Free Text Information</cite>
					</footer>
				</blockquote>
			</div>
			<div class="col-xs-12 col-lg-6">
				<registration-card title="Vehicle Details" #card1 [startOpen]="cardOpenStatus" [isPanelStatusIconRequired]="isPanelStatusIconRequired">
					<div class="panel-body">
						<div class="accordion">
							<div class="accordion-group">
								<collapse-table fieldLabel="Year" fieldName="year" [fieldValue]="model.vehicle.year" [sources]="getSourcesForField('year')" [expandEvent]="tableExpandEmitter" [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="Make" fieldName="modelCode" [fieldValue]="model.vehicle.modelCode" [sources]="getSourcesForField('modelCode')" [expandEvent]="tableExpandEmitter" [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="Model" fieldName="makeCode" [fieldValue]="model.vehicle.makeCode" [sources]="getSourcesForField('makeCode')" [expandEvent]="tableExpandEmitter" [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="Color" fieldName="colorCode" [fieldValue]="model.vehicle.colorCode" [sources]="getSourcesForField('colorCode')" [expandEvent]="tableExpandEmitter" [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="Style" fieldName="styleCode" [fieldValue]="model.vehicle.styleCode" [sources]="getSourcesForField('styleCode')" [expandEvent]="tableExpandEmitter" [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="Tag Type" fieldName="plateTypeCode" [fieldValue]="model.vehicle.plateTypeCode" [sources]="getSourcesForField('plateTypeCode')" [expandEvent]="tableExpandEmitter" [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="Tag Number" fieldName="plateNumber" [fieldValue]="model.vehicle.plateNumber" [sources]="getSourcesForField('plateNumber')" [expandEvent]="tableExpandEmitter" [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="Tag State" fieldName="plateState" [fieldValue]="model.vehicle.plateState" [sources]="getSourcesForField('plateState')" [expandEvent]="tableExpandEmitter" [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="Tag Expiration Date" fieldName="tagExpirationDate" [fieldValue]="model.vehicle.tagExpirationDate" [sources]="getSourcesForField('tagExpirationDate')" [expandEvent]="tableExpandEmitter"
								 [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="Tag Issue Date" fieldName="tagIssueDate" [fieldValue]="model.vehicle.tagIssueDate" [sources]="getSourcesForField('tagIssueDate')" [expandEvent]="tableExpandEmitter"
								 [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="Auto Insurance" fieldName="autoInsurance" [fieldValue]="model.vehicle.autoInsurance" [sources]="getSourcesForField('autoInsurance')" [expandEvent]="tableExpandEmitter"
								 [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="Registration Status" fieldName="registrationStatusCode" [fieldValue]="model.vehicle.registrationStatusCode" [sources]="getSourcesForField('registrationStatusCode')"
								 [expandEvent]="tableExpandEmitter" [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="Registration Type Code" fieldName="registrationTypeCode" [fieldValue]="model.vehicle.registrationTypeCode" [sources]="getSourcesForField('registrationTypeCode')" [expandEvent]="tableExpandEmitter"
								 [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="Address" fieldName="address" [fieldValue]="model.vehicle.address" [sources]="getSourcesForField('address')" [expandEvent]="tableExpandEmitter" [toggleEvent]="tableToggleEmitter"></collapse-table>
							</div>
						</div>
					</div>
				</registration-card>
			</div>
			<div class="col-xs-12 col-lg-6">
				<registration-card title="NCIC Details" #card2 [startOpen]="cardOpenStatus" [isPanelStatusIconRequired]="isPanelStatusIconRequired">
					<div class="panel-body">
						<div class="accordion">
							<div class="accordion-group">
								<collapse-table fieldLabel="VIN" fieldName="vin" [fieldValue]="model.vehicle.idNumbers.vin" [sources]="getSourcesForField('idNumbers.vin')" [expandEvent]="tableExpandEmitter" [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="Originating Agency" fieldName="originatingAgency" [fieldValue]="model.vehicle.idNumbers.originatingAgency" [sources]="getSourcesForField('idNumbers.originatingAgency')"
								 [expandEvent]="tableExpandEmitter" [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="NCIC" fieldName="ncic" [fieldValue]="model.vehicle.idNumbers.ncic" [sources]="getSourcesForField('idNumbers.ncic')" [expandEvent]="tableExpandEmitter" [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="FBI" fieldName="fbi" [fieldValue]="model.vehicle.idNumbers.fbi" [sources]="getSourcesForField('idNumbers.fbi')" [expandEvent]="tableExpandEmitter" [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="SSN" fieldName="ssn" [fieldValue]="model.vehicle.idNumbers.ssn" [sources]="getSourcesForField('idNumbers.ssn')" [expandEvent]="tableExpandEmitter" [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="NCIC Misc" fieldName="ncicMisc" [fieldValue]="model.vehicle.idNumbers.ncicMisc" [sources]="getSourcesForField('idNumbers.ncicMisc')" [expandEvent]="tableExpandEmitter"
								 [toggleEvent]="tableToggleEmitter"></collapse-table>
							</div>
						</div>
					</div>
				</registration-card>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-lg-6">
				<registration-card title="Owner Details" #card3 [startOpen]="cardOpenStatus" [isPanelStatusIconRequired]="isPanelStatusIconRequired">
					<div class="panel-body">
						<div class="accordion">
							<div class="accordion-group">
								<collapse-table fieldLabel="Owner First Name" fieldName="ownerFirstName" [fieldValue]="model.vehicle.owner.firstName" [sources]="getSourcesForField('owner.firstName')" [expandEvent]="tableExpandEmitter"
								 [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="Owner Middle Name" fieldName="ownerMiddleName" [fieldValue]="model.vehicle.owner.middleName" [sources]="getSourcesForField('owner.middleName')" [expandEvent]="tableExpandEmitter"
								 [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="Owner Last Name" fieldName="ownerLastName" [fieldValue]="model.vehicle.owner.lastName" [sources]="getSourcesForField('owner.lastName')" [expandEvent]="tableExpandEmitter"
								 [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="Owner Birth Date" fieldName="ownerBirthDate" [fieldValue]="model.vehicle.owner.birthDate" [sources]="getSourcesForField('owner.birthDate')" [expandEvent]="tableExpandEmitter"
								 [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="Owner License Number" fieldName="ownerLicenseNum" [fieldValue]="model.vehicle.owner.licenseNumber" [sources]="getSourcesForField('owner.licenseNumber')" [expandEvent]="tableExpandEmitter"
								 [toggleEvent]="tableToggleEmitter"></collapse-table>
							</div>
						</div>
					</div>
				</registration-card>
			</div>
			<div class="col-xs-12 col-lg-6">
				<registration-card title="Co-owner Details" #card4 [startOpen]="cardOpenStatus" [isPanelStatusIconRequired]="isPanelStatusIconRequired">
					<div class="panel-body">
						<div class="accordion">
							<div class="accordion-group">
								<collapse-table fieldLabel="Co-owner First Name" fieldName="coOwnerFirstName" [fieldValue]="model.vehicle.coOwner.firstName" [sources]="getSourcesForField('coOwner.firstName')" [expandEvent]="tableExpandEmitter"
								 [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="Co-owner Middle Name" fieldName="coOwnerMiddleName" [fieldValue]="model.vehicle.coOwner.middleName" [sources]="getSourcesForField('coOwner.middleName')" [expandEvent]="tableExpandEmitter"
								 [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="Co-owner Last Name" fieldName="coOwnerLastName" [fieldValue]="model.vehicle.coOwner.lastName" [sources]="getSourcesForField('coOwner.lastName')" [expandEvent]="tableExpandEmitter"
								 [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="Co-owner Birth Date" fieldName="coOwnerBirthDate" [fieldValue]="model.vehicle.coOwner.birthDate" [sources]="getSourcesForField('coOwner.birthDate')" [expandEvent]="tableExpandEmitter"
								 [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="Co-owner License Number" fieldName="coOwnerLicenseNum" [fieldValue]="model.vehicle.coOwner.licenseNumber" [sources]="getSourcesForField('coOwner.licenseNumber')" [expandEvent]="tableExpandEmitter"
								 [toggleEvent]="tableToggleEmitter"></collapse-table>
							</div>
						</div>
					</div>
				</registration-card>
			</div>
			<div class="col-xs-12 col-lg-6">
				<raw-response-card [responses]="responses"></raw-response-card>
			</div>
		</div>
	</div>
</div>