<div class="business-card clickable jumbotron" (click)="onClick.emit()">
	<div class="media">
		<div class="media-left">
			<img class="media-object rounded-circle profile-img" [src]="categoryImageSrc">
		</div>
		<div class="media-body">
			<h2 class="media-heading">{{ resultCategory }}</h2>
			<div class="job">Results found: {{ resultTotal }}</div>
		</div>
	</div>
</div>