.business-card {
    border: 1px solid #cccccc;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.profile-img {
    height: 120px;
}

.clickable {
    cursor: pointer;
}

.job {
    color: #666666;
    font-size: 17px;
}