<nav-header-template applicationHeader="USPClientCore" defaultRoute="/core-test">
	<li class="nav-item">
		<a class="nav-link" privacy-screen></a>
	</li>
	<li class="nav-item" style="padding-left: 10px;">
		<a class="nav-link" day-night-toggle></a>
	</li>
	<li class="nav-item" style="padding-left: 10px;">
		<a class="nav-link" theme-picker></a>
	</li>
	<li class="nav-item" style="padding-left: 10px;">
		<a class="nav-link" settings-menu></a>
	</li>
</nav-header-template>
<div class="container-fluid" style="min-height: 100%;">
	<div style="display: inline-block; min-width: 100%;">
		<search-builder dateFormat="yyyy-mm-dd" [categories]="categories" [maxSearchCategories]="1" [onResultsClose]="onResultsClose" (onSearch)="search($event)"></search-builder>
	</div>
	<search-results></search-results>
</div>