.color-preview {
    border-radius: 100%;
    display: inline-block;
    height: 10px;
    width: 10px;
    line-height: 10px;
    font-size: 12px;
    text-align: center;
    margin-left: 5px;
    opacity: 1;
}

.theme-item:hover {
	background-color: lightgray !important;
}