<div class="dropdown">
	<i class="fa fa-lg fa-palette" data-toggle="dropdown" popover="Swap Theme" placement="bottom" triggers="mouseenter:mouseleave"></i>&nbsp;
	<ul class="dropdown-menu dropdown-menu-right" role="menu">
		<li *ngFor="let theme of themes" class="dropdown-item theme-item" style="padding: 4px 10px 4px 10px; cursor: pointer;" 
			[ngStyle]="{ 'background-color': theme.bg }" role="menuitem" (click)="pickTheme(theme.name)">
			<div class="pull-left" style="display: inline-block;">
				<span style="display: inline-block;" [ngStyle]="{ 'color': theme.link, 'font-family': theme.font }">
					{{theme.name}}
				</span>
			</div>
			<div class="pull-right" style="display: inline-block;">
				<span class="color-preview" [ngStyle]="{ 'background-color': theme.primary }">
					&nbsp;
				</span>
				<span class="color-preview" [ngStyle]="{ 'background-color': theme.secondary }">
					&nbsp;
				</span>
				<span class="color-preview" [ngStyle]="{ 'background-color': theme.success }">
					&nbsp;
				</span>
				<span class="color-preview" [ngStyle]="{ 'background-color': theme.info }">
					&nbsp;
				</span>
				<span class="color-preview" [ngStyle]="{ 'background-color': theme.warning }">
					&nbsp;
				</span>
				<span class="color-preview" [ngStyle]="{ 'background-color': theme.danger }">
					&nbsp;
				</span>
			</div>
		</li>
	</ul>
</div>