<div [id]="id" class="navbar navbar-inverse navbar-fixed-top navbar-xs scrolling-navbar cmv-navbar" role="navigation">
	<a class="bg-primary" style="-webkit-app-region: no-drag;" href="#" [routerLink]="defaultRoute">{{applicationHeader}}</a>
	<ul class="nav navbar-nav pull-right" style="-webkit-app-region: no-drag; margin: 0;">
		<li *ngFor="let nav of navs" class="nav-item" [popover]="nav.popoverText" placement="bottom" triggers="mouseenter:mouseleave" [id]="nav.navId">
			<a [routerLink]="nav.route" class="nav-link" *ngIf="!nav.isLogout">
				<i class="fa fa-lg" [ngClass]="nav.icon"></i>&nbsp;
				<span *ngIf="nav.isProfile">{{userName}}</span>
				<span *ngIf="!nav.isProfile">{{nav.navText}}</span>
			</a>
			<a (click)="logout.emit()" class="nav-link" *ngIf="nav.isLogout">
				<i class="fa fa-lg" [ngClass]="nav.icon"></i>&nbsp;
				<span>{{nav.navText}}</span>
			</a>
		</li>
	</ul>
</div>