
/* CSS used here will be applied after bootstrap.css */

/* Create a medium height at 40px */
.navbar-xs.cmv-navbar {
	min-height:32px;
	height: 32px;
	padding: 0px 15px 0px 15px; margin: 0px; line-height: 32px;
}
.navbar-xs.cmv-navbar .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 32px; }
.navbar-xs.cmv-navbar .navbar-nav > li > a {
	padding-top: 0px; padding-bottom: 0px; line-height: 32px;
}
  
.cmv-navbar {
	z-index: 1000;
}
  
@media only screen and (min-width : 2000px) {
.navbar-xs.cmv-navbar {
  min-height: auto;
  height: 2.0vw;
  font-size: 1.2vw;
  padding: 0px 15px 0px 15px; margin: 0px; line-height: 2.0vw;
}
.navbar-xs.cmv-navbar .navbar-brand{ padding: 0px 12px;font-size: 1.2vw;line-height: 2.0vw; }
.navbar-xs.cmv-navbar .navbar-nav > li > a {
  padding-top: 0px; padding-bottom: 0px; line-height: 2.0vw;
}
}