<registration-card title="BASIC" [startOpen]="startOpen" [overallValid]="basicsAreValid(model.basics, carrierDetailStatusLabelClass)">
	<div class="card-body" *ngFor="let basic of model.basics; let i = index">
		<p>
			{{ basic.basicType.replace('&' + '#8203;', '') }}
			<br/> Exceeded threshold:
			<validate-checkmark [model]="basic.hasExceededThreshold"></validate-checkmark>
		</p>
	</div>
</registration-card>