<div class="card" *ngFor="let note of releaseNotes" style="margin-bottom: 15px;">
	<div class="card-header">
		Version {{note.version}}
	</div>
	<div class="card-body">		
		<ul>
			<li *ngFor="let line of note.notes">
				{{line}}
			</li>
		</ul>
	</div>
</div>