<div class="card mb-2">
	<div class="card-header d-flex justify-content-between" (click)="collapsed = !collapsed">
		<span>{{deckName}}</span>
		<span class="text-right">
			<i class="fa fa-minus fa-lg" *ngIf="!collapsed"></i>
			<i class="fa fa-plus fa-lg" *ngIf="collapsed"></i>
		</span>
	</div>
	<div class="card-body" [collapse]="collapsed" style="padding: 5px;">
		<div class="card-columns">
			<ng-content></ng-content>
		</div>
	</div>
</div>