<select [id]="id" class="form-control input-sm" [(ngModel)]="initialValue" [disabled]="disabled" (change)="dropdownChanged($event)">
	<option value=""></option>
	<option *ngFor="let s of refItems" [value]="s.value">
		{{s.text}} - {{s.value}}
	</option>
</select>