<registration-card [title]="'Carrier Info'" [model]="model">
	<div class="card-body">
		Legal Name:
		<highlight-search class="highlight" [model]="model.legalName" [searchTerm]="searchTerm"></highlight-search>
		<br/> DBA Name:
		<highlight-search class="highlight" [model]="model.dbaName" [searchTerm]="searchTerm"></highlight-search>
		<br/> Operation Class:
		<highlight-search class="highlight" [model]="model.operationClass" [searchTerm]="searchTerm"></highlight-search>
		<br/> Cargo Carried:
		<highlight-search class="highlight" [model]="model.cargoCarried" [searchTerm]="searchTerm"></highlight-search>
		<br/> Unpaid Citation Count:
		<span class="highlight">{{ model.unpaidCitationCount }}</span>
		<br/> Outstanding Impound:
		<validate-checkmark [model]="model.outstandingImpound"></validate-checkmark>
		<br/>
		<br/> Phone:
		<span class="highlight">{{ model.phone }}</span>
		<br/> Address:
		<br/>
		<span class="highlight" *ngIf="model.physAddress">
			{{ model.physAddress.street }}
			<br/> {{ model.physAddress.city }}, {{ model.physAddress.state }} {{ model.physAddress.zipcode }}
			<br/> {{ model.physAddress.country }}
			<br/>
		</span>
	</div>
</registration-card>