<registration-card title="UCR" [model]="model.federalRegistration.isRegistered" [startOpen]="startOpen">
	<div class="card-body">
		<p>
			Registered:
			<validate-checkmark [model]="model.federalRegistration.isRegistered"></validate-checkmark>
		</p>
	</div>
</registration-card>