<div class="result-view-container people">
	<div class="people-container">
		<h4>People</h4>

		<div class="row">
			<div class="column print-row" style="display: flex;">
				<div style="flex-grow: 1;"></div>
				<accordion-toggle-button (onToggle)="toggleSourceTables()" style="padding-right: 10px;"></accordion-toggle-button>
				<results-print-button (onPrint)="openAllCards([card1, card2, card3])"></results-print-button>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="well">{{ headerText }}</div>
			</div>
			<div class="col-xs-12 col-lg-6 col-md-6">
				<registration-card title="Person Details" #card1 [startOpen]="cardOpenStatus" [isPanelStatusIconRequired]="isPanelStatusIconRequired">
					<div class="panel-body">
						<div class="accordion">
							<div class="accordion-group">
								<collapse-table fieldLabel="First Name" fieldName="firstName" [fieldValue]="model.person.firstName" [sources]="getSourcesForField('firstName')" [expandEvent]="tableExpandEmitter" [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="Middle Name" fieldName="middleName" [fieldValue]="model.person.middleName" [sources]="getSourcesForField('middleName')" [expandEvent]="tableExpandEmitter" [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="Last Name" fieldName="lastName" [fieldValue]="model.person.lastName" [sources]="getSourcesForField('lastName')" [expandEvent]="tableExpandEmitter" [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="OLN" fieldName="licenseNumber" [fieldValue]="model.person.licenseNumber" [sources]="getSourcesForField('licenseNumber')" [expandEvent]="tableExpandEmitter" [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="Birth Date" fieldName="birthDate" [fieldValue]="model.person.birthDate" [sources]="getSourcesForField('birthDate')" [expandEvent]="tableExpandEmitter" [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="Birth Place" fieldName="birthPlaceCode" [fieldValue]="model.person.birthPlaceCode" [sources]="getSourcesForField('birthPlaceCode')" [expandEvent]="tableExpandEmitter"
								 [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="Sex" fieldName="sexCode" [fieldValue]="model.person.sexCode" [sources]="getSourcesForField('sexCode')" [expandEvent]="tableExpandEmitter" [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="Race" fieldName="raceCode" [fieldValue]="model.person.raceCode" [sources]="getSourcesForField('raceCode')" [expandEvent]="tableExpandEmitter" [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="Height" fieldName="height" [fieldValue]="getHeightString()" [sources]="getSourcesForHeightField()" [expandEvent]="tableExpandEmitter" [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="Weight" fieldName="weight" [fieldValue]="model.person.weight" [sources]="getSourcesForField('weight')" [expandEvent]="tableExpandEmitter" [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="Eye Color" fieldName="eyeColorCode" [fieldValue]="model.person.eyeColorCode" [sources]="getSourcesForField('eyeColorCode')" [expandEvent]="tableExpandEmitter" [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="Hair Color" fieldName="hairColorCode" [fieldValue]="model.person.hairColorCode" [sources]="getSourcesForField('hairColorCode')" [expandEvent]="tableExpandEmitter"
								 [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="Scar Mark/Tattoo" fieldName="scarMarkTattooCode" [fieldValue]="model.person.scarMarkTattooCode" [sources]="getSourcesForField('scarMarkTattooCode')" [expandEvent]="tableExpandEmitter"
								 [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="Class" fieldName="class" [fieldValue]="model.person.class" [sources]="getSourcesForField('class')" [expandEvent]="tableExpandEmitter" [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="Registration Type" fieldName="registrationType" [fieldValue]="model.person.registrationType" [sources]="getSourcesForField('registrationType')" [expandEvent]="tableExpandEmitter"
								 [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="Registration Status" fieldName="registrationStatusCode" [fieldValue]="model.person.registrationStatusCode" [sources]="getSourcesForField('registrationStatusCode')"
								 [expandEvent]="tableExpandEmitter" [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="OLN Expiration Date" fieldName="expirationDate" [fieldValue]="model.person.expirationDate" [sources]="getSourcesForField('expirationDate')" [expandEvent]="tableExpandEmitter"
								 [toggleEvent]="tableToggleEmitter"></collapse-table>
							</div>
						</div>
					</div>
				</registration-card>
			</div>
			<div class="col-xs-12 col-lg-6 col-md-6">
				<registration-card title="Address Details" #card2 [startOpen]="cardOpenStatus" [isPanelStatusIconRequired]="isPanelStatusIconRequired">
					<div class="panel-body">
						<div class="accordion">
							<div class="accordion-group">
								<collapse-table fieldLabel="Street" fieldName="addressStreetName" [fieldValue]="model.person.addressStreetName" [sources]="getSourcesForField('addressStreetName')" [expandEvent]="tableExpandEmitter"
								 [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="City" fieldName="addressCity" [fieldValue]="model.person.addressCity" [sources]="getSourcesForField('addressCity')" [expandEvent]="tableExpandEmitter" [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="State" fieldName="addressStateCode" [fieldValue]="model.person.addressStateCode" [sources]="getSourcesForField('addressStateCode')" [expandEvent]="tableExpandEmitter"
								 [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="ZIP" fieldName="addressZipCode" [fieldValue]="model.person.addressZipCode" [sources]="getSourcesForField('addressZipCode')" [expandEvent]="tableExpandEmitter" [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="County" fieldName="addressCounty" [fieldValue]="model.person.addressCounty" [sources]="getSourcesForField('addressCounty')" [expandEvent]="tableExpandEmitter" [toggleEvent]="tableToggleEmitter"></collapse-table>
							</div>
						</div>
					</div>
				</registration-card>
			</div>
			<div class="col-xs-12 col-lg-6 col-md-6">
				<registration-card title="NCIC Details" #card3 [startOpen]="cardOpenStatus" [isPanelStatusIconRequired]="isPanelStatusIconRequired">
					<div class="panel-body">
						<div class="accordion">
							<div class="accordion-group">
								<collapse-table fieldLabel="NCIC" fieldName="ncic" [fieldValue]="model.person.idNumbers.ncic" [sources]="getSourcesForField('idNumbers.ncic')" [expandEvent]="tableExpandEmitter" [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="FBI" fieldName="fbi" [fieldValue]="model.person.idNumbers.fbi" [sources]="getSourcesForField('idNumbers.fbi')" [expandEvent]="tableExpandEmitter" [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="SSN" fieldName="ssn" [fieldValue]="model.person.idNumbers.ssn" [sources]="getSourcesForField('idNumbers.ssn')" [expandEvent]="tableExpandEmitter" [toggleEvent]="tableToggleEmitter"></collapse-table>
								<collapse-table fieldLabel="NCIC Misc" fieldName="ncicMisc" [fieldValue]="model.person.idNumbers.ncicMisc" [sources]="getSourcesForField('idNumbers.ncicMisc')" [expandEvent]="tableExpandEmitter"
								 [toggleEvent]="tableToggleEmitter"></collapse-table>
							</div>
						</div>
					</div>
				</registration-card>
			</div>
			<div class="col-xs-12 col-lg-6 col-md-6">
				<raw-response-card [responses]="responses"></raw-response-card>
			</div>
		</div>
	</div>
</div>