<nav class="navbar navbar-dark bg-primary d-flex flex-wrap justify-content-start flex-column" style="width: 50px; height: 100%; padding: 2px;">
	<div style="width: 100%; text-align: center;">
		<img src="assets/images/logo03.png" style="width: 40px; height: 40px;" />
		<br />
		<b>{{appHeader}}</b>
	</div>
	<!-- <div style="writing-mode: vertical-rl; text-orientation: upright;">
		{{appHeader}}
	</div> -->
	<!-- <a *ngIf="defaultRoute" class="navbar-brand" href="#" [routerLink]="defaultRoute">{{applicationHeader}}</a>
	<span *ngIf="!defaultRoute" class="navbar-brand">{{applicationHeader}}</span>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarIcons" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button> -->

	<div class="navbar-nav" style="width: 100%; text-align: center;">
		<ng-content></ng-content>
	</div>
</nav>