<registration-card title="UCR Details" [model]="model" [startOpen]="startOpen" [isPanelStatusIconRequired]="false">
	<div class="card-body" *ngFor="let ucrRes of model.ucrData; let i = index">
		<p>
			Registration Fee Paid:
			<validate-checkmark [model]="ucrRes['Registration Fee Paid'] && ucrRes['Registration Fee Paid'] != 'N'"></validate-checkmark>
			<br/> Registration Year:
			<span class="highlight">{{ ucrRes['Registration Year'] }}</span>
			<br/> Registration Update Date:
			<span class="highlight">{{ ucrRes['Registration Update Date'] }}</span>
			<br/>
		</p>
	</div>
</registration-card>