<div class="threatBar" [ngClass]="{ 'noThreat': threatLevel == ThreatLevel.None, 
		'lowThreat': threatLevel == ThreatLevel.Low, 
		'highThreat': threatLevel == ThreatLevel.High,
		'defaultThreat': threatLevel == ThreatLevel.Default || threatLevel < 0 || threatLevel > 3 || threatLevel == null || threatLevel == undefined || loading }">
	<span *ngIf="!loading">
		<span *ngFor="let badge of threatBadges" class="badgeContainer">
			<span style="position: relative; width: 0; height: 0">
				<span *ngIf="!badge.noCount" class="threatCount">{{badge.threatCount}}</span>
			</span>
			<img [src]="badge.imageSrc" [popover]="badge.tooltip" placement="top" triggers="mouseenter:mouseleave" />
		</span>
	</span>
</div>