.threatBar {
	width: 100%; 
	min-height: 85px;
	border-radius: 5px;
	padding-right: 10px;
	padding-left: 10px;
}

.noThreat {
	background: linear-gradient(rgba(90, 255, 90, 160), rgba(0, 85, 0, 200));
}

.lowThreat {
	background: linear-gradient(rgba(255, 255, 0, 255), rgba(184, 134, 11, 255));
}

.highThreat {
	background: linear-gradient(rgba(255, 0, 0, 255), rgba(128, 0, 0, 255));
}

.defaultThreat {
	background: linear-gradient(rgba(211, 211, 211, 255), rgba(105, 105, 105, 255));
}

.badgeContainer {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-left: 10px;
	display: inline-block;
	line-height: 20px;
	font-size: 14px;
}

.threatCount {
	text-align: center;
	width: 20px;
	height: 20px;
	font-size: 14px;
	position: absolute;
	z-index: 100;
	top: 29px;
	left: 26px;
	font-weight: bold;
	color: black;
}