
<div class="card bg-light shadow">
	<div class="card-header">
		Detail Search
	  <button class="btn btn-outline-info" type="submit" (click)="toggleShowHide();" >
	    <i class="fa fa-search fa-lg"></i>	
		</button>
		<div id="multi-dropdown" *ngIf="!isHidden"  >
				<form [formGroup]="myForm">
						<ng-multiselect-dropdown
								name="searchitem"
								[placeholder]="'Categories'"
								[data]="searchCategories"
								formControlName="searchItem"
								[disabled]="disabled"
								[settings]="dropdownSettings"
								(onSelect)="onItemSelect($event)">
						</ng-multiselect-dropdown>
			 </form>
		</div>	
  </div> 
</div>

