<!-- <span class="fa-layers fa-lg fa-fw" popover="Toggle Search Bar" [placement]="popoverPosition" triggers="mouseenter:mouseleave">
	<i class="fa fa-search"></i>
	<i class="fa fa-ban fa-inverse"></i>
</span>&nbsp; -->

<i class="fa fa-lg fa-search" [ngClass]="{ 'text-success': showSearchBar, 'text-danger': !showSearchBar }" (click)="onToggle.emit(); showSearchBar = !showSearchBar"></i>
	<!-- popover="Toggle Search Bar" [placement]="popoverPosition" triggers="mouseenter:mouseleave"></i> -->