/* You can add global styles to this file, and also import other style files */
/* Circle Button - http://bootsnipp.com/snippets/featured/circle-button*/

.btn-circle {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
  }
  
  .btn-circle.btn-lg {
	width: 50px;
	height: 50px;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 25px;
  }
  
  .btn-circle.btn-xl {
	width: 70px;
	height: 70px;
	padding: 10px 16px;
	font-size: 24px;
	line-height: 1.33;
	border-radius: 35px;
  }

  /* add font-awesome icon as a watermark */
  
  .fontwatermark {
	font-size: 200px;
	left: -80px;
	bottom: 10%;
	position: fixed;
	opacity: 0.25;
	/*color:transparent;*/
  }
  
  .fontwatermarkright {
	float: right;
	font-size: 250px;
	right: -40px;
	bottom: 10%;
	position: fixed;
	opacity: 0.25;
	/*color:transparent;*/
  }
  
  /* End watermark */
  @font-face {
	font-family: Quicksand;
	src: url("assets/fonts/quicksand/quicksand-regular.otf") format("opentype");
  }
  
  @font-face {
	font-family: QuicksandLight;
	src: url("assets/fonts/quicksand/quicksand-light.otf") format("opentype");
  }
  
  @font-face {
	font-family: Aaargh;
	src: url("assets/fonts/quicksand/Aaargh.ttf") format("opentype");
  }
  
  /* Sticky footer styles
  -------------------------------------------------- */
  
  html {
	position: relative;
	min-height: 100%;
	font-size: medium;
  }
  
  body {
	/* Margins according to heights of fixed header and footer elements */
	/* margin-top: 32px;
	margin-bottom: 30px; */
  }
  
  h1 {
	/* We want the header to have a static height,
	it will always take up just as much space as it needs.  */
	/* 0 flex-grow, 0 flex-shrink, auto flex-basis */
	flex: 0 0 auto;
	text-align: left;
	font-family: 'Quicksand';
	font-size: medium;
  }
  
  .footer {
	margin: 0px;
	padding: 0px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 30px;
	line-height: 30px;
	/* Vertically center the text there */
	/*background-color: #f5f5f5;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	z-index: 20;
  }
  
  .footer>.container-fluid {
	width: 100%;
  }
  
  @media print {
	body,
	html,
	#wrapper {
	  width: 100%;
	  height: 100%;
	}
  
	.footer {
	  display: none !important;
	}
  }
  
  /* Custom page CSS
  -------------------------------------------------- */
  
  /* Not required for template or sticky footer method. */
  
  .container {
	width: auto;
	max-width: 680px;
	padding: 0 15px;
  }
  
  .text-warn {
	color: #cec106;
  }
  
  .validate-important.validate-warn {
	border-color: #cec106 !important;
  }
  
  .validate-important.validate-warn .validate-label {
	background-color: #cec106;
	color: white;
	padding-right: 0.5rem;
  }
  
  .bg-warn {
	background: #cec106;
	color: #fff!important;
  }
  
  textarea {
	height: auto;
	color: inherit;
	font: inherit;
	margin: 0;
	overflow: auto;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
  }
  
  textarea.input-sm,
  .input-group-sm>textarea.form-control,
  .input-group-sm>textarea.input-group-addon,
  .input-group-sm>.input-group-btn>textarea.btn,
  select[multiple].input-sm,
  .input-group-sm>select[multiple].form-control,
  .input-group-sm>select[multiple].input-group-addon,
  .input-group-sm>.input-group-btn>select[multiple].btn {
	height: auto;
  }
  .profilePanel {
	padding-top: 60px;
	text-align: center;
  }
  
  .profilePanel .row:first-of-type {
	background-color: lightblue;
	border: 1px solid lightblue;
	border-radius: 20px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	padding-bottom: 20px;
  }
  
  .profilePanel .row:last-of-type {
	border: 1px solid lightblue;
	border-radius: 20px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
  }
  
  .profilePanel .table > tbody > tr {
	background-color: #eeeeee;
	border-top: 1px solid black;
  }
  
  .profilePanel .table > tbody > tr:nth-of-type(even) {
	background-color: #e6e6e6;
  }
  
  .profilePanel .table > tbody > tr:first-child {
	border-top: 0;
  }
  
  .profilePanel .table > tbody > tr > td {
	border-top: 0;
  }
  
  .profilePanel .table input {
	min-width: 50%;
	max-width: 80%;
  }
  
  .label-success {
	margin-right: 5px;
  }
  
  /* Validation styles */
  
  .validationMessage {
	color: red;
	font-size: 12px;
  }
  
  input.ng-invalid.ng-dirty {
	border-color: red;
  }

  /* Settings view sidebar styles
  -------------------------------------------------- */
  
  .navbar-sidebar {
	position: fixed;
	/*top: 32px;*/
	left: 0;
	height: 100%;
	width: 55px;
	/*background-color: #373a3c;*/
	border-radius: 0px;
	padding: 0px;
	margin: 0px;
  }
  
  .navbar-sidebar .nav-stacked .nav-item+.nav-item {
	margin-top: 0px;
  }
  
  .navbar-sidebar .hint--info:before {
	padding-left: 10px !important;
  }
  
  .navbar-sidebar .hint--info:after {
	margin-left: 10px !important;
  }
  
  .navbar-sidebar .nav-item:first-of-type {
	border-top: 1px solid lightgray;
  }
  
  .navbar-sidebar .nav-item {
	vertical-align: middle;
	padding: 5px 5px 5px 5px;
	border-bottom: 1px solid lightgray;
  }
  
  .navbar-sidebar .nav-item:hover {
	background-color: lightgray;
  }
  
  .navbar-sidebar a.nav-link {
	padding: 5px 5px 5px 5px;
	text-align: center;
  }

  .usp-mobile-container {
	  display: flex;
	  /* flex-wrap: nowrap; */
	  padding: 0;
	  margin: 0;
  }