<nav *ngIf="!hidden" class="navbar navbar-light bg-light d-flex flex-nowrap justify-content-between sticky-top">
	<form class="form-inline" style="width: 100%;">
		<input class="form-control" type="search" name="smartSearch" placeholder="Smart Search" aria-label="Search" [(ngModel)]="rawParamStr"
			(input)="inputChange($event.target.value)" style="flex-basis: 75%; flex-grow: 2; margin-right: 10px;">
		<button class="btn btn-outline-info" type="submit">
			<i class="fa fa-search fa-lg"></i>
		</button>
		<br />
		<span *ngIf="!paramDetected && showParsing">
			Parsing Search Terms...
		</span>
		<span *ngIf="paramDetected">
			<npm-badge badgelabel="SSN" [badgevalue]="rawParamStr" badgeclass="info"></npm-badge>
		</span>
	</form>
</nav>