<nav-header-template id="tour-stop-1" applicationHeader="Header Test">
	<!-- <li class="nav-item" id="tour-stop-2">
		<a class="nav-link" menu-toggle [menuAvailable]="true" (onToggle)="toggleSidebar()"></a>
	</li> -->
	<li class="nav-item" id="tour-stop-2">
		<a class="nav-link" privacy-screen></a>
	</li>
	<li class="nav-item" id="tour-stop-3">
		<a class="nav-link" tour-button></a>
	</li>
	<li class="nav-item" id="tour-stop-4">
		<a class="nav-link" day-night-toggle></a>
	</li>
	<li class="nav-item" id="tour-stop-5">
		<a class="nav-link" theme-picker></a>
	</li>
	<li class="nav-item" id="tour-stop-6">
		<a class="nav-link" settings-menu (onExportLogs)="testExport()" (onShowReleaseNotes)="showReleaseNotes()"></a>
	</li>
</nav-header-template>

<div class="container-fluid" style="position: relative;" #sidebarWrapper>
	<results-sidebar [toggle]="toggler" [appendToElement]="sidebarWrapper" marginTop="32px"></results-sidebar>
</div>
<div class="container-fluid">
	<button type="button" class="primary" (click)="toggleSidebar()">Toggle Sidebar</button>

	<br />

	<p>
		<accordion-toggle-button></accordion-toggle-button>
	</p>

	<p>
		<collapse-table fieldLabel="TEST" fieldName="TEST" fieldValue="TEST" [sources]="testSources"></collapse-table>
	</p>

	<p>
		<highlight-search model="This is a test string" searchTerm="test"></highlight-search>
	</p>

	<p>
		<loading-animation [mini]="true" [miniLoadingProgress]="0" loaderSrc="assets/images/loader.png"></loading-animation>
	</p>
	<p>
		<loading-animation label="Test Loader" loaderSrc="assets/images/loader.png"></loading-animation>
	</p>
	<p>
		<npm-badge badgelabel="USPClientCore" badgevalue="1.0.0" badgeclass="secondary"></npm-badge>
	</p>
	<p>
		<reference-dropdown label="Test States" [refItems]="states" (onChange)="dropdownChanged($event)"></reference-dropdown>
		Currently selected state: {{ dropdownModel }}
	</p>
	<p>
		<registration-card title="TEST CARD" overallValid="true" [model]="{ status: 'okay', message: 'testing' }">
			<div class="panel-body">
				<div class="accordion">
					<div class="accordion-group">
						<collapse-table fieldLabel="TEST" fieldName="TEST" fieldValue="TEST" [sources]="testSources"></collapse-table>
					</div>
				</div>
			</div>
		</registration-card>
	</p>
	<p>
		<validate-checkmark [model]="{ status: 'okay', message: 'testing' }"></validate-checkmark>
	</p>
	<p>
		<release-notes [releaseNotes]="releaseNotes"></release-notes>
	</p>
	<p>
		<validation-label text="test" isValid="true"></validation-label>
	</p>
	<p>
		<results-print-button></results-print-button>
	</p>
	<div class="row">
		<div class="col-xs-2">
			<result-total-card resultCategory="Carriers" resultTotal="10" categoryImageSrc="assets/images/test_carrier.png"></result-total-card>
		</div>
	</div>
</div>

<div bsModal #releaseNotesModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title pull-left">Release Notes</h4>
				<button type="button" class="close pull-right" aria-label="Close" (click)="releaseNotesModal.hide()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" style="height: 500px; overflow-y: scroll;">
				<release-notes [releaseNotes]="releaseNotes"></release-notes>
			</div>
		</div>
	</div>
</div>