<div class="card bg-info" style="min-width: 300px; max-width: 500px;">
	<div style="text-align: center">
		<span class="text-light" *ngIf="collapsed" (click)="collapsed = false">Expand Search Terms
			<i class="fa fa-chevron-down"></i>
		</span>
		<span class="text-light" *ngIf="!collapsed" (click)="collapsed = true">Collapse Search Terms
			<i class="fa fa-chevron-up"></i>
		</span>
	</div>

	<div [collapse]="collapsed">
		<h5 *ngFor="let search of searchTerms" style="margin-left: 5px; display: inline-block;">
			<span class="badge badge-light">
				{{ search.name }}:&nbsp;{{ search.value | formatIfDate }}
			</span>
		</h5>
	</div>
</div>